/**
* ============================
*  1.0 Variable
* ============================
*/

$default-font: Open Sans, sans-serif;
$primary-color: #ff697c;
$text-color: #45567c;
$grey-color: #EDF1F4;
$white-color: #ffffff;
 