---
layout: default
title: About Us
permalink: /about
---
{% include page-title.html %}
<!-- Start Themeix Feature-->
<section class="themeix-feature section-spacing bg-color">
   <div class="container">
      <div class="services-container">
         <div class="row">
            {% for service in site.data.services %}
            <div class="col-md-4 col-sm-4">
               <div class="services-wrapper wow fadeIn" data-wow-duration="2s">
                  <div class="services-logo"><img src="{{service.icon}}" alt="{{service.name}}" /></div>
                  <div class="services-details">
                     <h5>{{service.name}}</h5>
                     <p>{{service.subtitle}}</p>
                  </div>
               </div>
            </div>
            {% endfor %}
         </div>
      </div>
      {% include why-chose-us.html %}
   </div>
</section>
<!-- End Themeix Feature -->
{% include counter-section.html %}

<!-- Start Themeix Testimonial-->
<section class="themeix-testimonial scb-minus-30 section-spacing">
   <div class="container">
      <div class="row">
         <div class="col-md-8 m-auto">
            <div class="themeix-section-title text-center">
               <h2>Our Instructor</h2>
               <div class="section-border"></div>
               <p>Enim semper, gravida interdum nullam, pellentesque adipiscing scelerisque vitae dui, magnis platea. Ac
                  sagittis ridiculus Est ac sollicitudin varius integer laoreet morbi porta </p>
            </div>
         </div>
      </div>
      <div class="testimonial-instructor-carousel owl-carousel">
            {% assign instructors = site.instructors %}
            {% for instructor in instructors %}
               {% include instructor-card.html %}
            {% endfor %}
      </div>
   </div>
</section>
<!-- End Themeix Testimonial-->
<!-- Start Themeix Feature-->
<div class="themeix-feature section-spacing pt-0 bg-color">
   <div class="container">
      <div class="themeix-client-carousel owl-carousel">
         {% for client_logo in site.data.client-logos %}
            <div class="themeix-client-logo">
               <a href="{{client_logo.url}}"><img src="{{client_logo.logo}}" alt="client ads img" /></a>
            </div>
         {% endfor %}
      </div>
   </div>
</div>
<!-- End Themeix Feature-->

{% include subscribe.html %}