---
layout: default
title: Bases de datos
permalink: /bases-de-datos
---
{% include page-title.html %}
<!-- Start Themeix  Course-->
<section class="themeix-Course section-spacing bg-color">
   <div class="container">

     <div class="themeix-section-title text-center">
       <h2>Base de datos del Área de la Salud</h2>
       <div class="section-border"></div>
     </div>

         <div class="popular-course-post2">
            <div class="row">
               <div class="col-md-5" align="center">
                  <a href="http://cuiden.fundacionindex.com/cuiden/" target="_blank">
                     <img src="{{ site.baseurl }}/assets/images/basesdedatos/1.png" width="200">
                  </a>
               </div>
               <div class="col-md-7">
                  <div class="popular-course-details wow fadeIn" >
                     <a href="http://cuiden.fundacionindex.com/cuiden/" target="_blank">
                        <h3>
                          CUIDEN
                        </h3>
                     </a>
                    <p align="justify">CUIDEN® es una Base de Datos Bibliográfica de la Fundación Index que incluye producción científica sobre Cuidados de Salud en el espacio científico Iberoamericano, tanto de contenido clínico-asistencial en todas sus especialidades y de promoción de la salud, como con enfoques metodológicos, históricos, sociales o culturales. Contiene artículos de revistas científicas, libros, monografías y otros documentos, incluso materiales no publicados, cuyos contenidos han sido evaluados previamente por un comité de expertos. </p>
                  </div>
               </div>
            </div>
         </div>

      <div class="popular-course-post2">
         <div class="row">
            <div class="col-md-5" align="center">
               <a href="https://datos.gob.mx/busca/dataset?organization=salud" target="_blank">
                  <img src="{{ site.baseurl }}/assets/images/basesdedatos/2.png" width="200">
               </a>
            </div>
            <div class="col-md-7">
               <div class="popular-course-details wow fadeIn" >
                  <a href="https://datos.gob.mx/busca/dataset?organization=salud" target="_blank">
                     <h3>
                       Datos Abiertos de México
                     </h3>
                  </a>
                 <p align="justify">Datos Abiertos de México, contiene bases de datos oficiales en materia de salud. </p>
                </div>
            </div>
         </div>
      </div>

      <div class="popular-course-post2">
         <div class="row">
            <div class="col-md-5" align="center">
               <a href="http://lilacs.bvsalud.org/es" target="_blank">
                  <img src="{{ site.baseurl }}/assets/images/basesdedatos/3.png" width="200">
               </a>
            </div>
            <div class="col-md-7">
               <div class="popular-course-details wow fadeIn" >
                  <a href="http://lilacs.bvsalud.org/es" target="_blank">
                     <h3>
                       LILACS
                     </h3>
                  </a>
                 <p align="justify">Base de datos que contiene información científica y técnica en salud de América Latina y el Caribe. </p>
                </div>
            </div>
         </div>
      </div>

      <div class="popular-course-post2">
         <div class="row">
            <div class="col-md-5" align="center">
               <a href="https://www.sciencedirect.com/" target="_blank">
                  <img src="{{ site.baseurl }}/assets/images/basesdedatos/4.png" width="200">
               </a>
            </div>
            <div class="col-md-7">
               <div class="popular-course-details wow fadeIn" >
                  <a href="https://www.sciencedirect.com/" target="_blank">
                     <h3>
                       Sciencedirect
                     </h3>
                  </a>
                 <p align="justify">Sciencedirect  es un sitio web que proporciona una gran base de datos de búsqueda científica y médica. </p>
                </div>
            </div>
         </div>
      </div>

     <div class="themeix-section-title text-center">
       <h2>Base de datos de Enfermería </h2>
       <div class="section-border"></div>
     </div>

      <div class="popular-course-post2">
         <div class="row">
            <div class="col-md-5" align="center">
               <a href="https://bvsenfermeria.bvsalud.org/" target="_blank">
                  <img src="{{ site.baseurl }}/assets/images/basesdedatos/5.jpg" width="200">
               </a>
            </div>
            <div class="col-md-7">
               <div class="popular-course-details wow fadeIn" >
                  <a href="https://bvsenfermeria.bvsalud.org/" target="_blank">
                     <h3>
                       Biblioteca Virtual en Salud | Enfermería Regional
                     </h3>
                  </a>
                 <p align="justify">Fuente de información compuesta por citas bibliográficas de la literatura técnico-científica brasileña en Enfermería. Contiene artículos de las revistas más conceptuadas del área de salud y otros documentos tales como: tesis, libros, capítulos de libros, anales de congresos, relatos técnico-científicos y publicaciones gubernamentales.</p>
                </div>
            </div>
         </div>
      </div>

      <div class="popular-course-post2">
         <div class="row">
            <div class="col-md-5" align="center">
               <a href="https://enfispo.es/" target="_blank">
                  <img src="{{ site.baseurl }}/assets/images/basesdedatos/6.png" width="200">
               </a>
            </div>
            <div class="col-md-7">
               <div class="popular-course-details wow fadeIn" >
                  <a href="https://enfispo.es/" target="_blank">
                     <h3>
                       ENFISPO
                     </h3>
                  </a>
                 <p align="justify">ENFISPO es una base de datos bibliográfica formada por una selección de más de 120 revistas en español de las áreas de Enfermería, Fisioterapia y Podología.</p>
                </div>
            </div>
         </div>
      </div>


     <div class="themeix-section-title text-center">
       <h2>Base de datos de Psicología </h2>
       <div class="section-border"></div>
     </div>

     <div class="popular-course-post2">
       <div class="row">
         <div class="col-md-5" align="center">
           <a href="http://alfama.sim.ucm.es/isishtm/psyke/" target="_blank">
             <img src="{{ site.baseurl }}/assets/images/basesdedatos/7.png" width="200">
           </a>
         </div>
         <div class="col-md-7">
           <div class="popular-course-details wow fadeIn" >
             <a href="http://alfama.sim.ucm.es/isishtm/psyke/" target="_blank">
               <h3>
                 Psyke
               </h3>
             </a>
             <p align="justify">Psyke es una base de datos bibliográfica que da acceso a los sumarios de las principales revistas de psicología y áreas afines en español.</p>
           </div>
         </div>
       </div>
     </div>

     <div class="popular-course-post2">
       <div class="row">
         <div class="col-md-5" align="center">
           <a href="https://pubpsych.zpid.de/pubpsych/?lang=ES" target="_blank">
             <img src="{{ site.baseurl }}/assets/images/basesdedatos/8.png" width="200">
           </a>
         </div>
         <div class="col-md-7">
           <div class="popular-course-details wow fadeIn" >
             <a href="https://pubpsych.zpid.de/pubpsych/?lang=ES" target="_blank">
               <h3>
                 PUBPSYCH (Public Psychology)
               </h3>
             </a>
             <p align="justify">PubPsych es una base de datos con recursos psicológicos que busca cubrir las necesidades de psicólogos académicos y profesionales.</p>
           </div>
         </div>
       </div>
     </div>

     <div class="themeix-section-title text-center">
       <h2>Base de datos de Trabajo Social </h2>
       <div class="section-border"></div>
     </div>

     <div class="popular-course-post2">
       <div class="row">
         <div class="col-md-5" align="center">
           <a href="https://papers.ssrn.com/sol3/DisplayAbstractSearch.cfm" target="_blank">
             <img src="{{ site.baseurl }}/assets/images/basesdedatos/9.jpg" width="200">
           </a>
         </div>
         <div class="col-md-7">
           <div class="popular-course-details wow fadeIn" >
             <a href="https://papers.ssrn.com/sol3/DisplayAbstractSearch.cfm" target="_blank">
               <h3>
                 Social Science Research Network
               </h3>
             </a>
             <p align="justify">Repositorio de redes de investigación especializadas en las áreas de ciencias sociales.</p>
           </div>
         </div>
       </div>
     </div>

     <div class="popular-course-post2">
       <div class="row">
         <div class="col-md-5" align="center">
           <a href="http://www.oapen.org/home" target="_blank">
             <img src="{{ site.baseurl }}/assets/images/basesdedatos/10.jpg" width="200">
           </a>
         </div>
         <div class="col-md-7">
           <div class="popular-course-details wow fadeIn" >
             <a href="http://www.oapen.org/home" target="_blank">
               <h3>
                 Oapen
               </h3>
             </a>
             <p align="justify">Base de datos que contiene principalmente libros académicos de acceso libre del área de ciencias sociales. </p>
           </div>
         </div>
       </div>
     </div>


   </div>
</section>
<!-- End Themeix Course -->
{% include subscribe.html %}