---
layout: default
title: Becas
permalink: /becas
---
{% include page-title.html %}
<!-- Start Themeix Feature-->
<div class="themeix-feature instructors-details-img bg-color">
   <div class="container">
      <div class="row">
         <div class="col-md-4">
         </div>
         <div class="col-md-8">
            <div class="instructors-details  section-spacing">
<br>
               <p>
                  El Instituto Hispano Jaime Sabines ofrece becas en todos sus niveles educativos a las instituciones con las que ha establecido convenio, a este beneficio pueden acceder sus trabajadores y sus hijos.
               </p>
               <p>
                  El porcentaje de descuento y el procedimiento para acceder a este beneficio se establecen en el convenio de colaboración.
               </p>
               <p>
                  Si eres miembro de una institución interesada en establecer un convenio.
               </p>
               <br>
               <div class="not-found-container text-center wow fadeIn"  data-wow-duration="2s">
                  <h2>¡Acércate a nosotros!</h2>
                  <br><br>
                  <h3> <a href="convenios.html">Consulta aquí los convenios vigentes</a></h3>
               </div>

            </div>
         </div>
      </div>
   </div>
</div>
<!-- End Themeix Feature -->

<!-- End Themeix Feature-->

{% include subscribe.html %}