---
layout: default
title: Blog
pagination:
    enabled: true
permalink: /blog
---
{% include page-title.html %}
<!-- Start Themeix  Feature-->
<section class="themeix-feature section-spacing bg-color blog-page">
    <div class="container">
        <div class="row infinite-scroll">
            {% for post in paginator.posts %}
            <div class="col-lg-4 col-md-6 post-card-item">
                {% include post-card.html %}
            </div>
            {% endfor %}
        </div>
        {% include pagination.html %}
    </div>
</section>
<!-- End Themeix Single -->
{% include subscribe.html %}