---
layout: default
title: Contact Us
permalink: /contact
---
    {% include page-title.html %}
    <!-- Start Themeix Feature-->
    <div class="themeix-feature section-spacing bg-color">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="contact-info wow fadeIn"  data-wow-duration="2s">
                        <div class="contact-info-logo">
                            <img src="/assets/images/contact-info-logo4.png" alt="" />
                        </div>
                        <div class="contact-info-content">
                            <h4>Office Address</h4>
                            <p>1-13 St Giles High St,<br>London WC2H 8AG, UK</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="contact-info wow fadeIn"  data-wow-duration="2s">
                        <div class="contact-info-logo">
                            <img src="/assets/images/contact-info-logo6.png" alt="" />
                        </div>
                        <div class="contact-info-content">
                            <h4>Email Address</h4>
                            <p>companyinfo@gmail.com<br>info@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="contact-info m-0 wow fadeIn"  data-wow-duration="2s">
                        <div class="contact-info-logo">
                            <img src="/assets/images/contact-info-logo5.png" alt="" />
                        </div>
                        <div class="contact-info-content">
                            <h4>Office Time</h4>
                            <p>Mon - Sat 9:00 - 5:00<br>Sunday - Closed</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Themeix Feature-->
    <!-- Start Themeix Contact-->
    <section class="themeix-contact bg-color4 section-spacing clearfix">
        <div class="container">
            <div class="d-flex align-items-stretch themeix">
                {% include contact-form.html %}
                <div class="contact-resgister-info contact-column bg-color2">
                    <h2>Get in Touch</h2>
                    <div class="contact-resgister-info-wrapper wow fadeIn"  data-wow-duration="2s">
                        <div class="contact-resgister-info-logo"><img src="/assets/images/contact-info-logo.png" alt="" /></div>
                        <div class="contact-resgister-info-content">
                            <p>432 Zafer Street New <br> youk 234 America</p>
                        </div>
                    </div>
                    <div class="contact-resgister-info-wrapper wow fadeIn"  data-wow-duration="2s">
                        <div class="contact-resgister-info-logo"><img src="/assets/images/contact-info-logo2.png" alt="" /></div>
                        <div class="contact-resgister-info-content">
                            <p>+(666) 053 39985 <br> +(333) 026 58963</p>
                        </div>
                    </div>
                    <div class="contact-resgister-info-wrapper wow fadeIn"  data-wow-duration="2s">
                        <div class="contact-resgister-info-logo"><img src="/assets/images/contact-info-logo3.png" alt="" /></div>
                        <div class="contact-resgister-info-content">
                            <p>themeix@gmail.com <br> support@themeix.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Themeix Contact -->
