---
layout: default
title: Contáctanos
permalink: /contactanos
---
    {% include page-title.html %}
    <!-- Start Themeix Feature-->
    <div class="themeix-feature section-spacing bg-color">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="contact-info wow fadeIn"  data-wow-duration="2s">
                        <div class="contact-info-logo">
                            <img src="{{ site.baseurl }}/assets/images/contact-info-logo4.png" alt="" />
                        </div>
                        <div class="contact-info-content">
                            <h4>Dirección</h4>
                            <p>Callejón La Salle No. 800, Col. La Salle,<br>Tuxtla Gutiérrez, Chiapas</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="contact-info wow fadeIn"  data-wow-duration="2s">
                        <div class="contact-info-logo">
                            <img src="{{ site.baseurl }}/assets/images/contact-info-logo6.png" alt="" />
                        </div>
                        <div class="contact-info-content">
                            <h4>Correo Electrónico</h4>
                            <p>contacto@ihjaimesabines.edu.mx</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="contact-info m-0 wow fadeIn"  data-wow-duration="2s">
                        <div class="contact-info-logo">
                            <img src="{{ site.baseurl }}/assets/images/contact-info-logo7.png" alt="" />
                        </div>
                        <div class="contact-info-content">
                            <h4>Teléfonos</h4>
                            <p>961 604 15 39<br>961 604 15 41</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Themeix Feature-->
    <!-- Start Themeix Contact-->
    <section class="themeix-contact bg-color4 section-spacing clearfix">
        <div class="container">
            <div class="d-flex align-items-stretch themeix">
                {% include contact-form.html %}
                <div class="contact-resgister-info contact-column bg-color2">
                    <h2>Mantente en contacto</h2>
                    <div class="contact-resgister-info-wrapper wow fadeIn"  data-wow-duration="2s">
                        <div class="contact-resgister-info-logo"><img src="{{ site.baseurl }}/assets/images/contact-info-logo.png" alt="" /></div>
                        <div class="contact-resgister-info-content">
                            <p>Callejón La Salle 800, Col. Sta. María la Ribera.<br> C.P. 29070. <br> Tuxtla Gutiérrez, Chiapas.</p>
                        </div>
                    </div>
                    <div class="contact-resgister-info-wrapper wow fadeIn"  data-wow-duration="2s">
                        <div class="contact-resgister-info-logo"><img src="{{ site.baseurl }}/assets/images/contact-info-logo2.png" alt="" /></div>
                        <div class="contact-resgister-info-content">
                            <p>961 604 15 39 <br>  961 604 15 41</p>
                        </div>
                    </div>
                    <div class="contact-resgister-info-wrapper wow fadeIn"  data-wow-duration="2s">
                        <div class="contact-resgister-info-logo"><img src="{{ site.baseurl }}/assets/images/contact-info-logo3.png" alt="" /></div>
                        <div class="contact-resgister-info-content">
                            <p>contacto@ihjaimesabines.edu.mx</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Themeix Contact -->
<div align="center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1910.3794149089726!2d-93.08859327019083!3d16.738881014139643!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ed278354ef1415%3A0xfe665cadf51b7dfc!2sJaime%20Sabines%20Hispanic%20Institute!5e0!3m2!1sen!2smx!4v1612574819151!5m2!1sen!2smx" width="1800" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>