---
layout: default
title: Convenios
permalink: /convenios
---
{% include page-title.html %}
<!-- Start Themeix  Course-->
<section class="themeix-Course section-spacing bg-color">
   <div class="container">

         <div class="popular-course-post2">
            <div class="row">
               <div class="col-md-5">
                 <img src="/assets/images/convenios/ISSSTE.png">
               </div>
               <div class="col-md-7">
                  <div class="popular-course-details wow fadeIn" >
                        <h3>Instituto de Seguridad y Servicios Sociales de los Trabajadores del Estado (ISSSTE)
                        </h3>
                     </a>
                  </div>
               </div>
            </div>
         </div>

     <div class="popular-course-post2">
       <div class="row">
         <div class="col-md-5" align="center">
           <img src="/assets/images/convenios/BIA.jpg" width="200" >
         </div>
         <div class="col-md-7">
           <div class="popular-course-details wow fadeIn" >
             <h3>Barra Interamericana de Abogados
             </h3>
             </a>
           </div>
         </div>
       </div>
     </div>

     <div class="popular-course-post2">
       <div class="row">
         <div class="col-md-5" align="center">
           <img src="/assets/images/convenios/SNTSA.jpg" width="250">
         </div>
         <div class="col-md-7">
           <div class="popular-course-details wow fadeIn" >
             <h3>Sindicato de Trabajadores de la Salud (Sección 13, 49, 72, 98 y 707)
             </h3>
             </a>
           </div>
         </div>
       </div>
     </div>

     <div class="popular-course-post2">
       <div class="row">
         <div class="col-md-5" align="center">
           <img src="/assets/images/convenios/cruz_roja.png" width="150">
         </div>
         <div class="col-md-7">
           <div class="popular-course-details wow fadeIn" >
             <h3>Cruz Roja Mexicana
             </h3>
             </a>
           </div>
         </div>
       </div>
     </div>

     <div class="popular-course-post2">
       <div class="row">
         <div class="col-md-5" align="center">
           <img src="/assets/images/convenios/sta_cecytech.jpg" width="250">
         </div>
         <div class="col-md-7">
           <div class="popular-course-details wow fadeIn" >
             <h3>Sindicato de Trabajadores Administrativos del Colegio de Estudios Científicos y Tecnológicos del Estado de Chiapas
             </h3>
             </a>
           </div>
         </div>
       </div>
     </div>

     <div class="popular-course-post2">
       <div class="row">
         <div class="col-md-5" align="center">
           <img src="/assets/images/convenios/st_pjf.jpg" width="200">
         </div>
         <div class="col-md-7">
           <div class="popular-course-details wow fadeIn" >
             <h3>Sindicato de Trabajadores del Poder Judicial de la Federación (Sección 33)
             </h3>
             </a>
           </div>
         </div>
       </div>
     </div>

     <div class="popular-course-post2">
       <div class="row">
         <div class="col-md-5" align="center">
           <img src="/assets/images/header-logo.png" width="200">
         </div>
         <div class="col-md-7">
           <div class="popular-course-details wow fadeIn" >
             <h3>Habitantes de la Colonia Narciso Mendoza
             </h3>
             </a>
           </div>
         </div>
       </div>
     </div>

     <div class="popular-course-post2">
       <div class="row">
         <div class="col-md-5" align="center">
           <img src="/assets/images/convenios/canaco.jpg" width="200">
         </div>
         <div class="col-md-7">
           <div class="popular-course-details wow fadeIn" >
             <h3>Cámara Nacional de Comercio (CANACO)
             </h3>
             </a>
           </div>
         </div>
       </div>
     </div>

     <div class="popular-course-post2">
       <div class="row">
         <div class="col-md-5" align="center">
           <img src="/assets/images/convenios/COPSIECH.jpg" width="200">
         </div>
         <div class="col-md-7">
           <div class="popular-course-details wow fadeIn" >
             <h3>Colegio Oficial de Psicólogos de Chiapas
             </h3>
             </a>
           </div>
         </div>
       </div>
     </div>

     <div class="popular-course-post2">
       <div class="row">
         <div class="col-md-5" align="center">
           <img src="/assets/images/convenios/CSUCAJPG.jpg" width="200">
         </div>
         <div class="col-md-7">
           <div class="popular-course-details wow fadeIn" >
             <h3>Consejo Superior Universitario Centroamericano
             </h3>
             </a>
           </div>
         </div>
       </div>
     </div>

    </div>
</section>
<!-- End Themeix Course -->
{% include subscribe.html %}