---
layout: default
title: Cultura Organizacional
permalink: /cultura-organizacional
---
    {% include page-title.html %}
    <!-- Start Themeix Feature-->
    <div class="themeix-feature section-spacing bg-color">
        <div class="container">
            <div class="instructors-details" align="center">
                <h2b>Lema:</h2b><br><br>
                <h2a> Formando valores para toda la vida </h2a>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="contact-info wow fadeIn"  data-wow-duration="2s">
                        <div class="contact-info-logo">
                            <img src="/assets/images/mision.png" alt="" />
                        </div>
                        <div class="contact-info-content">
                            <h2>Misión</h2>
                            <pih align="justify">Somos una institución educativa dedicada a la generación y difusión del conocimiento con enfoque humanista y basado en el aprendizaje por competencias; comprometida con el desarrollo integral sostenible de México desde los principios de interculturalidad,  igualdad, equidad, democracia, ciudadanía y garantía de los derechos humanos, que forma con sentido crítico y responsabilidad social.</pih>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="contact-info wow fadeIn"  data-wow-duration="2s">
                        <div class="contact-info-logo">
                            <img src="/assets/images/vision.png" alt="" />
                        </div>
                        <div class="contact-info-content">
                            <h2>Visión</h2>
                            <pih align="justify">Al 2030 somos referente de educación de calidad y excelencia académica; con la capacidad de promover procesos formativos desde un paradigma humanista, con un firme compromiso de abonar al desarrollo integral, social, humano y sostenible de las personas, así como ser una institución líder en la creación, promoción y difusión de la ciencia, la cultura y el arte.</pih>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Themeix Feature-->
    <!-- Start Themeix Contact-->
    <section class="themeix-contact bg-color4 section-spacing clearfix">
        <div class="container">
            <div class="d-flex align-items-stretch themeix">
                <div class="contact-column bg-color themeix">
                    <h1>Valores</h1>
                    <div class="themeix-section-title">
                    <div class="section-border left-border"></div>
                    </div>
                    <h5><p align="justify">El sistema de enseñanza-aprendizaje ofrece a los estudiantes el desarrollo de competencias para la vida, para lograrlo fomenta como parte de la formación integral los siguentes  valores:</p></h5>
                </div>
                <div class="contact-resgister-info contact-column bg-color2">
                    <div class="valores-resgister-info-wrapper wow fadeIn"  data-wow-duration="2s">
                        <div class="contact-resgister-info-logo"><img src="/assets/images/valores.png" alt="" /></div>
                        <div class="contact-resgister-info-content">
                            <p>Excelencia</p>
                        </div>
                    </div>
                    <div class="valores-resgister-info-wrapper wow fadeIn"  data-wow-duration="2s">
                        <div class="contact-resgister-info-logo"><img src="/assets/images/valores.png" alt="" /></div>
                        <div class="contact-resgister-info-content">
                            <p>Humanismo</p>
                        </div>
                    </div>
                    <div class="valores-resgister-info-wrapper wow fadeIn"  data-wow-duration="2s">
                        <div class="contact-resgister-info-logo"><img src="/assets/images/valores.png" alt="" /></div>
                        <div class="contact-resgister-info-content">
                            <p>Identidad</p>
                        </div>
                    </div>
                    <div class="valores-resgister-info-wrapper wow fadeIn"  data-wow-duration="2s">
                        <div class="contact-resgister-info-logo"><img src="/assets/images/valores.png" alt="" /></div>
                        <div class="contact-resgister-info-content">
                            <p>Servicio</p>
                        </div>
                    </div>
                    <div class="valores-resgister-info-wrapper wow fadeIn"  data-wow-duration="2s">
                        <div class="contact-resgister-info-logo"><img src="/assets/images/valores.png" alt="" /></div>
                        <div class="contact-resgister-info-content">
                            <p>Responsabilidad</p>
                        </div>
                    </div>
                    <div class="valores-resgister-info-wrapper wow fadeIn"  data-wow-duration="2s">
                        <div class="contact-resgister-info-logo"><img src="/assets/images/valores.png" alt="" /></div>
                        <div class="contact-resgister-info-content">
                            <p>Entusiasmo</p>
                        </div>
                    </div>
                    <div class="valores-resgister-info-wrapper wow fadeIn"  data-wow-duration="2s">
                        <div class="contact-resgister-info-logo"><img src="/assets/images/valores.png" alt="" /></div>
                        <div class="contact-resgister-info-content">
                            <p>Espiritualidad</p>
                        </div>
                    </div>
                    <div class="valores-resgister-info-wrapper wow fadeIn"  data-wow-duration="2s">
                        <div class="contact-resgister-info-logo"><img src="/assets/images/valores.png" alt="" /></div>
                        <div class="contact-resgister-info-content">
                            <p>Respeto</p>
                        </div>
                    </div>
                    <div class="valores-resgister-info-wrapper wow fadeIn"  data-wow-duration="2s">
                        <div class="contact-resgister-info-logo"><img src="/assets/images/valores.png" alt="" /></div>
                        <div class="contact-resgister-info-content">
                            <p>Conciencia</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Themeix Contact -->
{% include subscribe.html %}
