---
layout: default
title: Educación básica
permalink: /educacion-media-superior
---
{% include page-title.html %}
<!-- Start Themeix  Course-->
<section class="themeix-Course section-spacing bg-color">
   <div class="container">

         <div class="popular-course-post2">
            <div class="row">
               <div class="col-md-5" align="center">
                  <img src="{{ site.baseurl }}/assets/images/preparatoria_tres.png" width="200">
               </div>
               <div class="col-md-7">
                  <div class="popular-course-details wow fadeIn" >
                     <a href="{{ site.baseurl }}/educacion/preparatoria_tres">
                        <h3>Preparatoria (3 años)</h3>
                     </a>
                     <p>El Instituto Hispano Jaime Sabines (IHJS), retoma lo establecido por la Secretaría de Educación Pública del estado de Chiapas, la cual establece como uno de los objetivos del nivel preparatoria: 	Ofrecer una cultura general básica, que comprenda aspectos de la ciencia, de las humanidades y de la técnica, a partir de la cual se adquieran los elementos fundamentales para la construcción de nuevos conocimientos. </p>
                     <div class="themeix-course-action-2">
                        <ul>
                           <li><a href="{{ site.baseurl }}/educacion/preparatoria_tres"><span>Ver más</span></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>

      <div class="popular-course-post2">
         <div class="row">
            <div class="col-md-5" align="center">
               <img src="/assets/images/preparatoria_dos.png" width="200">
            </div>
            <div class="col-md-7">
               <div class="popular-course-details wow fadeIn" >
                  <a href="{{ site.baseurl }}/educacion/preparatoria_dos">
                     <h3>Preparatoria (2 años)</h3>
                  </a>
                  <p>El Instituto Hispano Jaime Sabines (IHJS), retoma lo establecido por la Secretaría de Educación Pública del estado de Chiapas, la cual establece como uno de los objetivos del nivel preparatoria: 	Ofrecer una cultura general básica, que comprenda aspectos de la ciencia, de las humanidades y de la técnica, a partir de la cual se adquieran los elementos fundamentales para la construcción de nuevos conocimientos. </p>
                  <div class="themeix-course-action-2">
                     <ul>
                        <li><a href="{{ site.baseurl }}/educacion/preparatoria_dos"><span>Ver más</span></a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>

   </div>
</section>
<!-- End Themeix Course -->
{% include subscribe.html %}