---
layout: default
title: Educación básica
permalink: /educacion-basica
---
{% include page-title.html %}
<!-- Start Themeix  Course-->
<section class="themeix-Course section-spacing bg-color">
   <div class="container">

         <div class="popular-course-post2">
            <div class="row">
               <div class="col-md-5" align="center">
                  <img src="{{ site.baseurl }}/assets/images/maternal.png" width="200">
               </div>
               <div class="col-md-7">
                  <div class="popular-course-details wow fadeIn" >
                     <a href="{{ site.baseurl }}/educacion/maternal">
                        <h3>Maternal</h3>
                     </a>
                     <p align="justify">Los niños que cursan educación maternal construyen destrezas básicas que favorecen el desarrollo físico, cognitivo, afectivo y social de las personas (SEP, 2014). </p>
                     <div class="themeix-course-action-2">
                        <ul>
                           <li><a href="{{ site.baseurl }}/educacion/maternal"><span>Ver más</span></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>

      <div class="popular-course-post2">
         <div class="row">
            <div class="col-md-5" align="center">
               <img src="{{ site.baseurl }}/assets/images/preescolar.png" width="200">
            </div>
            <div class="col-md-7">
               <div class="popular-course-details wow fadeIn" >
                  <a href="{{ site.baseurl }}/educacion/preescolar">
                     <h3>Preescolar</h3>
                  </a>
                  <p align="justify">El Instituto Hispano Jaime Sabines (IHJS), retoma lo establecido por la Secretaría de Educación Pública, la cual describe que la educación preescolar permite construir “destrezas básicas que favorecen el desarrollo físico, cognitivo, afectivo y social de las personas” (SEP, 2014). </p>
                  <div class="themeix-course-action-2">
                     <ul>
                        <li><a href="{{ site.baseurl }}/educacion/preescolar"><span>Ver más</span></a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="popular-course-post2">
         <div class="row">
            <div class="col-md-5" align="center">
               <img src="{{ site.baseurl }}/assets/images/primaria.png" width="200">
            </div>
            <div class="col-md-7">
               <div class="popular-course-details wow fadeIn" >
                  <a href="{{ site.baseurl }}/educacion/primaria">
                     <h3>Primaria</h3>
                  </a>
                  <p align="justify">El Instituto Hispano Jaime Sabines (IHJS), retoma lo establecido por la Secretaría de Educación Pública, que describe la educación primaria como el nivel que permite al individuo desarrollar “destrezas básicas, necesarias para efectuar tareas simples” (p.6 2014). </p>
                  <div class="themeix-course-action-2">
                     <ul>
                        <li><a href="{{ site.baseurl }}/educacion/primaria"><span>Ver más</span></a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="popular-course-post2">
         <div class="row">
            <div class="col-md-5" align="center">
               <img src="{{ site.baseurl }}/assets/images/secundaria.png" width="200">
            </div>
            <div class="col-md-7">
               <div class="popular-course-details wow fadeIn" >
                  <a href="{{ site.baseurl }}/educacion/secundaria">
                     <h3>Secundaria</h3>
                  </a>
                  <p align="justify">El Instituto Hispano Jaime Sabines (IHJS), retoma el planteamiento de la Secretaría de Educación Pública, que considera a la educación secundaria como “el tercer tramo de la educación básica, se conforma de tres grados y contribuye a la formación integral de la población estudiantil adolescente de 11 a 15 años de edad” (2019). </p>
                  <div class="themeix-course-action-2">
                     <ul>
                        <li><a href="{{ site.baseurl }}/educacion/secundaria"><span>Ver más</span></a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>


   </div>
</section>
<!-- End Themeix Course -->
{% include subscribe.html %}