---
layout: default
title: Especialidades
permalink: /especialidades
---
{% include page-title.html %}
<!-- Start Themeix  Course-->

<section class="themeix-Course section-spacing bg-color">
   <div class="container">

      <div class="popular-course-post2">
         <div class="row">
            <div class="col-md-5" align="center">
               <img src="/assets/images/ih/enfermeria_salud_publica.png" width="200">
            </div>
            <div class="col-md-7">
               <div class="popular-course-details wow fadeIn" >
                  <a href="/educacion/enfermeria_salud_publica">
                     <h3>Especialidad "Enfermería en Salud Pública"</h3>
                  </a>
                  <p>
                     El especialista en salud pública es integrante del equipo de salud es la responsable de realizar una atención integral y holística a las personas desde su nacimiento hasta la muerte, a su familia y comunidad en los diferentes escenarios sociales desarrollando sus potencialidades para el cuidado de su salud, identificando e interviniendo en los grupos vulnerables y de riesgo brindando una atención y recuperación integral utilizando estrategias de comunicación social, participación y de gestión.
                  </p>
                  <div class="themeix-course-action-2">
                     <ul>
                        <li><a href="/educacion/enfermeria_salud_publica"><span>Ver más</span></a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>


      <div class="popular-course-post2">
         <div class="row">
            <div class="col-md-5" align="center">
               <img src="/assets/images/ih/enfermeria_quirurgica.png" width="200">
            </div>
            <div class="col-md-7">
               <div class="popular-course-details wow fadeIn" >
                  <a href="/educacion/enfermeria_quirurgica">
                     <h3>Especialidad "Enfermería en Quirúrgica"</h3>
                  </a>
                  <p>
                     Formar recursos humanos con conocimientos, habilidades y destrezas para desempeñarse con eficiencia, profesionalismo y ética en el área quirúrgica y justamente con el equipo quirúrgico colaborar en la resolución de problemas de salud del paciente que se sometió a cirugía.
                  </p>
                  <div class="themeix-course-action-2">
                     <ul>
                        <li><a href="/educacion/enfermeria_quirurgica"><span>Ver más</span></a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="popular-course-post2">
         <div class="row">
            <div class="col-md-5" align="center">
               <img src="/assets/images/ih/enfermeria_pediatrica.png" width="200">
            </div>
            <div class="col-md-7">
               <div class="popular-course-details wow fadeIn" >
                  <a href="/educacion/enfermeria_pediatrica">
                     <h3>Especialidad "Enfermería Pediátrica"</h3>
                  </a>
                  <p>
                     El programa de la Especialidad en enfermería pediátrica, preparara recursos humanos en el área de enfermería pediátrica con profunda formación de los enfoques preventivos, asistenciales y de rehabilitación que favorezcan la reintegración del niño al núcleo familiar y social con mejores expectativas de vida; asimismo, desarrollar sus capacidades de creatividad e innovación para mejorar la calidad de atención a la niñez, acorde con las políticas de salud vigentes y con las necesidades sociales imperantes.
                  </p>
                  <div class="themeix-course-action-2">
                     <ul>
                        <li><a href="/educacion/enfermeria_pediatrica"><span>Ver más</span></a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="popular-course-post2">
         <div class="row">
            <div class="col-md-5" align="center">
               <img src="/assets/images/ih/enfermeria_terapia_intensiva.png" width="200">
            </div>
            <div class="col-md-7">
               <div class="popular-course-details wow fadeIn" >
                  <a href="/educacion/enfermeria_terapia_intensiva">
                     <h3>Especialidad "Enfermería Terapia Intensiva"</h3>
                  </a>
                  <p>
                     El programa de la Especialidad  de Enfermería en Cuidados Intensivos a pacientes en estado crítico, preparara recursos humanos en el área de enfermería en cuidados intensivos  altamente calificados en la gestión del cuidado holístico de alta especialidad, con un gran nivel de competencia en su desempeño profesional a través de la aplicación de la ciencia de enfermería  con profunda formación de los enfoques preventivos, asistenciales y de rehabilitación que favorezcan la reintegración y desarrollar las funciones de enfermería de manera eficaz y eficiente en una Unidad de Cuidados Intensivos e impulsar líneas de investigación que sean relevantes en la Práctica Clínica avanzada de Cuidados Intensivos.
                  </p>
                  <div class="themeix-course-action-2">
                     <ul>
                        <li><a href="/educacion/enfermeria_terapia_intensiva"><span>Ver más</span></a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>

   </div>
</section>

<!-- End Themeix Course -->

{% include subscribe.html %}