---
layout: default
title: Events
permalink: /events
---
{% include page-title.html %}     
    <!-- Start Themeix Feature-->
    <div class="section-spacing bg-color">
        <div class="container">
            {% assign counter = 0 %}
            {% for event in site.data.events %}
             {% assign counter = counter | plus:1 %}
               <div class="upcoming-event-wrapper ">
                  <div class="row">
                     <div class="col-md-8 col-sm-7">
                        <div class="upcoming-event-details wow fadeIn" data-wow-duration="{{counter}}s">
                           <div class="upcoming-event-logo">
                              <h2>{{event.day}}</h2>
                              <h5>{{event.month}}</h5>
                           </div>
                           <div class="upcoming-event-content">
                              <h4>{{event.title}}</h4>
                              <ul class="upcoming-event-meta list-inline">
                                 <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>{{event.time}}</li>
                                 <li class="list-inline-item"><i class="fa fa-map-marker" aria-hidden="true"></i>{{event.location}}</li>
                              </ul>
                              <a class="upcoming-event-btn" href="{{event.url}}">register</a>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4 col-sm-5">
                        <div class="upcoming-event-thumb"><img src="{{event.image}}"
                              alt="{{event.title}}" /></div>
                     </div>
                  </div>
               </div>
            {% endfor %}
        </div>
    </div>
    <!-- End Themeix Feature-->
    {% include subscribe.html %} 