---
layout: default
title: Instructors
permalink: /all-instructors
---
{% include page-title.html %}
      <!-- Start Themeix Feature-->
      <div class="themeix-feature scb-minus-30 section-spacing bg-color">
         <div class="container">
            <div class="row">
                  {% assign instructors = site.instructors %}
                  {% for instructor in instructors %}
                  <div class="col-sm-6 col-lg-3">
                     {% include instructor-card_ih.html %}
                  </div>
                  {% endfor %}

            </div>
         </div>
      </div>
      <!-- End Themeix Feature-->