---
layout: default
title: Instalaciones
permalink: /instalaciones
---
{% include page-title.html %}
<!-- Start Themeix Feature-->
<div class="themeix-feature scb-minus-30 section-spacing bg-color">
   <div class="container">
      <div id="gallery-filter" class="button-group">
         <button class="button is-checked" data-filter="*">Todo</button>
         <button class="button" data-filter=".infraestructura">Infraestructura</button>
         <button class="button" data-filter=".deportivas">Áreas deportivas</button>
         <button class="button" data-filter=".comunes">Áreas comunes</button>
      </div>
      <div class="gallery-filter-wrapper row">
         {% assign counter = 0 %}
         {% for gallery in site.data.gallery %}
         {% assign counter=counter | plus:1 %}
         <div class="gallery-item {{gallery.tab_class}} col-md-4 col-sm-6">
            <a href="{{ site.baseurl }}#_" id="{{ site.baseurl }}img{{counter}}" class="lightbox">
               <img src="{{ site.baseurl }}{{gallery.image}}" alt="{{ site.baseurl }}{{gallery.tab_name}}" />
            </a>
            <div class="gallery-item-thumb wow fadeIn"  data-wow-duration="2s">
               <img src="{{ site.baseurl }}{{gallery.image}}" alt="{{ site.baseurl }}{{gallery.tab_name}}" />
               <div class="gallery-item-hover">
                  <a href="{{ site.baseurl }}#img{{counter}}"><i class="fa fa-link"></i></a>
                  <p>{{ site.baseurl }}{{gallery.tab_name}}</p>
               </div>
            </div>
         </div>
         {% endfor %}

      </div>
   </div>
</div>
<!-- End Themeix Feature-->
