---
layout: default
title: Licenciaturas
permalink: /licenciaturas
---
{% include page-title.html %}
<!-- Start Themeix  Course-->
<section class="themeix-Course section-spacing bg-color">
   <div class="container">

         <div class="popular-course-post2">
            <div class="row">
               <div class="col-md-5" align="center">
                  <img src="{{ site.baseurl }}/assets/images/licenciaturas/enfermeria.png" width="200">
               </div>
               <div class="col-md-7">
                  <div class="popular-course-details wow fadeIn" >
                     <a href="{{ site.baseurl }}/educacion/enfermeria">
                        <h3>Licenciatura en Enfermería</h3>
                     </a>
                     <p align="justify">El programa de la Licenciatura en Enfermería tiene como finalidad, formar profesionales de calidad, conscientes y convencidos de que se trata de una disciplina humanitaria, científica y asistencial, capaces de desarrollar funciones en los tres niveles de atención a la salud y favorecer el desarrollo de la enfermería de manera sistémica y permanente.</p>
                     <div class="themeix-course-action-2">
                        <ul>
                           <li><a href="{{ site.baseurl }}/educacion/enfermeria"><span>Ver más</span></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>

      <div class="popular-course-post2">
         <div class="row">
            <div class="col-md-5" align="center">
               <img src="{{ site.baseurl }}/assets/images/licenciaturas/trabajo_social.png" width="200">
            </div>
            <div class="col-md-7">
               <div class="popular-course-details wow fadeIn" >
                  <a href="{{ site.baseurl }}/educacion/trabajo_social">
                     <h3>Licenciatura en Trabajo Social</h3>
                  </a>
                  <p align="justify">Formar profesionistas de trabajo social, de manera holística, capaces de interactuar socialmente en una práctica interdisciplinaria, respetando los derechos universales del hombre, el desarrollo de sus potencialidades y su relación con la naturaleza. </p>
                  <div class="themeix-course-action-2">
                     <ul>
                        <li><a href="{{ site.baseurl }}/educacion/trabajo_social"><span>Ver más</span></a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="popular-course-post2">
         <div class="row">
            <div class="col-md-5" align="center">
               <img src="{{ site.baseurl }}/assets/images/licenciaturas/psicologia_general.png" width="200">
            </div>
            <div class="col-md-7">
               <div class="popular-course-details wow fadeIn" >
                  <a href="{{ site.baseurl }}/educacion/psicologia_general">
                     <h3>Licenciatura en Psicología General</h3>
                  </a>
                  <p align="justify">Al finalizar sus estudios, el egresado de la Licenciatura en Psicología General tendrá las habilidades para formarse una visión más completa del ser humano en sus aspectos biológicos, motivacionales y cognitivos empleando las principales teorías y sistemas que explican su comportamiento. Será capaz de actuar como facilitador en diferentes ambientes y procesos sociales que promuevan el desarrollo humano; siempre acorde a los principios de la ética profesional y buscando el crecimiento psicológico tanto persona como comunitario.   </p>
                  <div class="themeix-course-action-2">
                     <ul>
                        <li><a href="{{ site.baseurl }}/educacion/psicologia_general"><span>Ver más</span></a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="popular-course-post2">
         <div class="row">
            <div class="col-md-5" align="center">
               <img src="{{ site.baseurl }}/assets/images/licenciaturas/psicologia_clinica.png" width="200">
            </div>
            <div class="col-md-7">
               <div class="popular-course-details wow fadeIn" >
                  <a href="{{ site.baseurl }}/educacion/psicologia_clinica">
                     <h3>Licenciatura en Psicología Clínica</h3>
                  </a>
                  <p align="justify">El plan de estudios de la Licenciatura en Psicología Clínica del Instituto Hispano Jaime Sabines (IHJS), tiene como objetivo formar psicólogos clínicos con las competencias necesarias para intervenir en el contexto local y global desde una perspectiva multi e interdisciplinar que permita atender al ser humano en el ámbito individual, grupal, organizacional y comunitario desde una perspectiva basada en la evidencia. Además del desarrollo de competencias profesionales</p>
                  <div class="themeix-course-action-2">
                     <ul>
                        <li><a href="{{ site.baseurl }}/educacion/psicologia_clinica"><span>Ver más</span></a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>


      <div class="popular-course-post2">
         <div class="row">
            <div class="col-md-5" align="center">
               <img src="{{ site.baseurl }}/assets/images/licenciaturas/derecho.png" width="200">
            </div>
            <div class="col-md-7">
               <div class="popular-course-details wow fadeIn" >
                  <a href="{{ site.baseurl }}/educacion/derecho">
                     <h3>Licenciatura en Derecho</h3>
                  </a>
                  <p align="justify">Formar profesionistas lideres con calidad y ética profesional, de alto nivel en el área del Derecho, con capacidad para participar en la administración de justicia, como funcionarios jurisdiccionales, en la solución de litigios como abogado postulante, en la administración pública como asesores jurídicos, en general en el desarrollo social.</p>
                  <div class="themeix-course-action-2">
                     <ul>
                        <li><a href="{{ site.baseurl }}/educacion/derecho"><span>Ver más</span></a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="popular-course-post2">
         <div class="row">
            <div class="col-md-5" align="center">
               <img src="{{ site.baseurl }}/assets/images/licenciaturas/contaduria_publica.png" width="200">
            </div>
            <div class="col-md-7">
               <div class="popular-course-details wow fadeIn" >
                  <a href="{{ site.baseurl }}/educacion/contaduria_publica">
                     <h3>Licenciatura en Contaduría Pública</h3>
                  </a>
                  <p align="justify">El objetivo de este programa es el de formar profesionistas lideres con calidad y ética profesional, de alto nivel en el área de la Contaduría Publica, que sean expertos financieros y autoridades a nivel profesional de todo lo que se refiera a obtener y aplicar recursos financieros de las entidades.</p>
                  <div class="themeix-course-action-2">
                     <ul>
                        <li><a href="{{ site.baseurl }}/educacion/contaduria_publica"><span>Ver más</span></a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="popular-course-post2">
         <div class="row">
            <div class="col-md-5" align="center">
               <img src="{{ site.baseurl }}/assets/images/licenciaturas/administracion_empresas.png" width="200">
            </div>
            <div class="col-md-7">
               <div class="popular-course-details wow fadeIn" >
                  <a href="{{ site.baseurl }}/educacion/administracion_empresas">
                     <h3>Licenciatura en Administración de Empresas</h3>
                  </a>
                  <p align="justify">El objetivo de este programa es el de formar profesionistas lideres con calidad y ética profesional, de alto nivel en el área de la Administración de Empresas, con capacidad para participar en los procesos de toma de decisiones, formular e implantar estrategias aplicadas a la creación, organización, dirección, promoción y desarrollo de las empresas.</p>
                  <div class="themeix-course-action-2">
                     <ul>
                        <li><a href="{{ site.baseurl }}/educacion/administracion_empresas"><span>Ver más</span></a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="popular-course-post2">
         <div class="row">
            <div class="col-md-5" align="center">
               <img src="{{ site.baseurl }}/assets/images/licenciaturas/informatica_administrativa.png" width="200">
            </div>
            <div class="col-md-7">
               <div class="popular-course-details wow fadeIn" >
                  <a href="{{ site.baseurl }}/educacion/informatica_administrativa">
                     <h3>Licenciatura en Informática Administrativa</h3>
                  </a>
                  <p align="justify">Formar profesionales capaces de planear, organizar, integrar y controlar los servicios y sistemas de información para satisfacer las necesidades organizacionales y ofrecer soluciones informáticas con el apoyo de a tecnología computacional para hacer más eficiente el manejo de la informática. Así como dirigir proyectos de informática, diseñar, instalar y administrar redes de cómputo. </p>
                  <div class="themeix-course-action-2">
                     <ul>
                        <li><a href="{{ site.baseurl }}/educacion/informatica_administrativa"><span>Ver más</span></a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="popular-course-post2">
         <div class="row">
            <div class="col-md-5" align="center">
               <img src="{{ site.baseurl }}/assets/images/licenciaturas/ingenieria_industrial.png" width="200">
            </div>
            <div class="col-md-7">
               <div class="popular-course-details wow fadeIn" >
                  <a href="{{ site.baseurl }}/educacion/ingenieria_industrial">
                     <h3>Ingeniería Industrial</h3>
                  </a>
                  <p align="justify">Formar ingenieros industriales creativos y emprendedores capaces de aplicar los conocimientos y métodos que la ciencia y la técnica les proporcionan para evaluar, analizar y resolver necesidades que les plantean la sociedad y la industria en las áreas de sistemas integrados por personas, materiales, maquinarias, tecnologías, procesos y métodos, que incidan en su campo para la transformación del sector productivo de bienes y servicios, con eficiencia y calidad. </p>
                  <div class="themeix-course-action-2">
                     <ul>
                        <li><a href="{{ site.baseurl }}/educacion/ingenieria_industrial"><span>Ver más</span></a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>

   </div>
</section>
<!-- End Themeix Course -->
{% include subscribe.html %}