---
layout: default
title: Maestrías
permalink: /maestrias
---
{% include page-title.html %}
<!-- Start Themeix  Course-->

<section class="themeix-Course section-spacing bg-color">
   <div class="container">

      <div class="popular-course-post2">
         <div class="row">
            <div class="col-md-5" align="center">
               <img src="{{ site.baseurl }}/assets/images/ih/administracion_salud.png" width="200">
            </div>
            <div class="col-md-7">
               <div class="popular-course-details wow fadeIn" >
                  <a href="{{ site.baseurl }}/educacion/administracion_salud">
                     <h3>Maestría en Administración de la Salud</h3>
                  </a>
                  <p>
                     Formar profesionales con la  capacidad de gestionar, administrar y financiar las empresas e instituciones de salud, adecuarlas a las exigencias dadas por los nuevos sistemas de prestación de servicios, actualizar su infraestructura y dotación donde se requiera, ajustarse a los procesos de descentralización y modernización de los servicios públicos, mejorar la prevención, promoción, diagnóstico y atención en salud, aplicar los mecanismos tendientes a mejorar la calidad, eficiencia y coberturas de los servicios en todos los niveles.
                  </p>
                  <div class="themeix-course-action-2">
                     <ul>
                        <li><a href="{{ site.baseurl }}/educacion/administracion_salud"><span>Ver más</span></a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>


      <div class="popular-course-post2">
         <div class="row">
            <div class="col-md-5" align="center">
               <img src="{{ site.baseurl }}/assets/images/ih/educacion_especial.png" width="200">
            </div>
            <div class="col-md-7">
               <div class="popular-course-details wow fadeIn" >
                  <a href="{{ site.baseurl }}/educacion/educacion_especial">
                     <h3>Maestría en Educación Especial</h3>
                  </a>
                  <p>
                     Formar profesionales capaces de llevar a cabo tareas y acciones relacionadas con la educación especial que le permita tener elementos para organizar el entorno para que el alumno pueda desarrollarse de manera integral y con ello lograr un desempeño funcional, productivo con buena calidad de vida y respeto por su dignidad humana.
                  </p>
                  <div class="themeix-course-action-2">
                     <ul>
                        <li><a href="{{ site.baseurl }}/educacion/educacion_especial"><span>Ver más</span></a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="popular-course-post2">
         <div class="row">
            <div class="col-md-5" align="center">
               <img src="{{ site.baseurl }}/assets/images/ih/ciencias_educacion.png" width="200">
            </div>
            <div class="col-md-7">
               <div class="popular-course-details wow fadeIn" >
                  <a href="{{ site.baseurl }}/educacion/ciencias_educacion">
                     <h3>Maestría en Ciencias de la Educación</h3>
                  </a>
                  <p>
                     Formar profesionistas en el nivel de postgrado, en el área de las ciencias de la educación, con los conocimientos en asesoramiento, intervención e investigación en los procesos educativos, con conocimientos básicos basados en los fundamentos teóricos de la psicología, la pedagogía, la filosofía y la sociología.
                  </p>
                  <div class="themeix-course-action-2">
                     <ul>
                        <li><a href="{{ site.baseurl }}/educacion/ciencias_educacion"><span>Ver más</span></a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>

   </div>
</section>

<!-- End Themeix Course -->

{% include subscribe.html %}