---
layout: default
title: Normatividad
permalink: /normatividad
---
{% include page-title.html %}
<!-- Start Themeix Feature-->

<section class="themeix-Course section-spacing bg-color">
   <div class="container">
      <div class="row">

         <div class="col-md-3">
            <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
               <a href="{{ site.baseurl }}/documents/rcc.pdf" target="_blank">
                  <div class="popular-course-thumb" style="background-image:url({{ site.baseurl }}/assets/images/download.png);">
                  </div>
               </a>
               <div class="popular-course-content ">
                  <a href="{{ site.baseurl }}/documents/rcc.pdf" target="_blank">
                     <h5>Reglamento de campos clínicos</h5>
                  </a>
               </div>
            </div>
         </div>
         <div class="col-md-3">
            <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
               <a href="{{ site.baseurl }}/documents/rccp.pdf" target="_blank">
                  <div class="popular-course-thumb" style="background-image:url({{ site.baseurl }}/assets/images/download.png);">
                  </div>
               </a>
               <div class="popular-course-content ">
                  <a href="{{ site.baseurl }}/documents/rccp.pdf" target="_blank">
                     <h5>Reglamento de campos clínicos Posgrado </h5>
                  </a>
               </div>
            </div>
         </div>
         <div class="col-md-3">
            <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
               <a href="{{ site.baseurl }}/documents/rgl.pdf" target="_blank">
                  <div class="popular-course-thumb" style="background-image:url({{ site.baseurl }}/assets/images/download.png);">
                  </div>
               </a>
               <div class="popular-course-content ">
                  <a href="{{ site.baseurl }}/documents/rgl.pdf" target="_blank">
                     <h5>Reglamento General de Licenciatura</h5>
                  </a>
               </div>
            </div>
         </div>
         <div class="col-md-3">
            <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
               <a href="{{ site.baseurl }}/documents/rgep.pdf" target="_blank">
                  <div class="popular-course-thumb" style="background-image:url({{ site.baseurl }}/assets/images/download.png);">
                  </div>
               </a>
               <div class="popular-course-content ">
                  <a href="{{ site.baseurl }}/documents/rgep.pdf" target="_blank">
                     <h5>Reglamento General Estudiantes Posgrado</h5>
                  </a>
               </div>
            </div>
         </div>
         <div class="col-md-3">
            <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
               <a href="{{ site.baseurl }}/documents/rgih.pdf" target="_blank">
                  <div class="popular-course-thumb" style="background-image:url({{ site.baseurl }}/assets/images/download.png);">
                  </div>
               </a>
               <div class="popular-course-content ">
                  <a href="{{ site.baseurl }}/documents/rgih.pdf" target="_blank">
                     <h5>Reglamento General del Instituto Hispano</h5>
                  </a>
               </div>
            </div>
         </div>



      </div>
   </div>
</section>

<!-- End Themeix Feature -->

<!-- End Themeix Feature-->

{% include subscribe.html %}
