---
layout: default
title: Organigrama
permalink: /organigrama
---
{% include page-title.html %}
<!-- Start Themeix Feature-->
<section class="themeix-feature section-spacing bg-color">
   <div class="container">

     <div class="row">


       <div class="col-md-12 m-auto">
         <div class="themeix-video-thumb" style="background-image:url(/assets/images/antecedentes.jpg);">
         </div>
       </div>

     </div>

   </div>
</section>
<!-- End Themeix Feature -->

<!-- End Themeix Feature-->

{% include subscribe.html %}