---
layout: default
title: Revistas científicas
permalink: /revistas-cientificas
---
{% include page-title.html %}
<!-- Start Themeix  Course-->
<section class="themeix-Course section-spacing bg-color">
   <div class="container">

         <div class="popular-course-post2">
            <div class="row">
               <div class="col-md-5" align="center">
                  <a href="http://www.innsz.mx/opencms/contenido/revistaEnfermeria.html" target="_blank">
                     <img src="{{ site.baseurl }}/assets/images/revistas/1.jpg" width="200">
                  </a>
               </div>
               <div class="col-md-7">
                  <div class="popular-course-details wow fadeIn" >
                     <a href="http://www.innsz.mx/opencms/contenido/revistaEnfermeria.html" target="_blank">
                        <h3>
                           Revista Mexicana de Enfermería
                        </h3>
                     </a>
                  </div>
               </div>
            </div>
         </div>

      <div class="popular-course-post2">
         <div class="row">
            <div class="col-md-5" align="center">
               <a href="http://revistaenfermeria.imss.gob.mx/editorial/index.php/revista_enfermeria/issue/archive" target="_blank">
                  <img src="{{ site.baseurl }}/assets/images/revistas/2.jpg" width="200">
               </a>
            </div>
            <div class="col-md-7">
               <div class="popular-course-details wow fadeIn" >
                  <a href="http://revistaenfermeria.imss.gob.mx/editorial/index.php/revista_enfermeria/issue/archive" target="_blank">
                     <h3>
                        Revista de Enfermería del Instituto Mexicano del Seguro Social
                     </h3>
                  </a>
                </div>
            </div>
         </div>
      </div>

      <div class="popular-course-post2">
         <div class="row">
            <div class="col-md-5" align="center">
               <a href="http://www.revista-enfermeria.unam.mx/" target="_blank">
                  <img src="{{ site.baseurl }}/assets/images/revistas/3.jpg" width="200">
               </a>
            </div>
            <div class="col-md-7">
               <div class="popular-course-details wow fadeIn" >
                  <a href="http://www.revista-enfermeria.unam.mx/" target="_blank">
                     <h3>
                        Revista Enfermería Universitaria
                     </h3>
                  </a>
                </div>
            </div>
         </div>
      </div>

      <div class="popular-course-post2">
         <div class="row">
            <div class="col-md-5" align="center">
               <a href="https://www.medicinadeemergencias.com/" target="_blank">
                  <img src="{{ site.baseurl }}/assets/images/revistas/4.png" width="200">
               </a>
            </div>
            <div class="col-md-7">
               <div class="popular-course-details wow fadeIn" >
                  <a href="https://www.medicinadeemergencias.com/" target="_blank">
                     <h3>
                        Revista de Educación e Investigación en Emergencias
                     </h3>
                  </a>
                </div>
            </div>
         </div>
      </div>


      <div class="popular-course-post2">
         <div class="row">
            <div class="col-md-5" align="center">
               <a href="http://www.revistas.unam.mx/index.php/ents/index" target="_blank">
                  <img src="{{ site.baseurl }}/assets/images/revistas/5.PNG" width="200">
               </a>
            </div>
            <div class="col-md-7">
               <div class="popular-course-details wow fadeIn" >
                  <a href="http://www.revistas.unam.mx/index.php/ents/index" target="_blank">
                     <h3>
                        Revista de la Escuela Nacional de Trabajo Social
                     </h3>
                  </a>
                </div>
            </div>
         </div>
      </div>

      <div class="popular-course-post2">
         <div class="row">
            <div class="col-md-5" align="center">
               <a href="https://revistas.unal.edu.co/index.php/tsocial/issue/archive" target="_blank">
                  <img src="{{ site.baseurl }}/assets/images/revistas/6.PNG" width="200">
               </a>
            </div>
            <div class="col-md-7">
               <div class="popular-course-details wow fadeIn" >
                  <a href="https://revistas.unal.edu.co/index.php/tsocial/issue/archive" target="_blank">
                     <h3>
                        Revista Trabajo Social
                     </h3>
                  </a>
                </div>
            </div>
         </div>
      </div>

      <div class="popular-course-post2">
         <div class="row">
            <div class="col-md-5" align="center">
               <a href="https://www.revistapsicologia.org/index.php/revista/issue/archive" target="_blank">
                  <img src="{{ site.baseurl }}/assets/images/revistas/7.PNG" width="200">
               </a>
            </div>
            <div class="col-md-7">
               <div class="popular-course-details wow fadeIn" >
                  <a href="https://www.revistapsicologia.org/index.php/revista/issue/archive" target="_blank">
                     <h3>
                        Revista Internacional de Psicología
                     </h3>
                  </a>
                </div>
            </div>
         </div>
      </div>

      <div class="popular-course-post2">
         <div class="row">
            <div class="col-md-5" align="center">
               <a href="http://www.revistas.unam.mx/index.php/rmac" target="_blank">
                  <img src="{{ site.baseurl }}/assets/images/revistas/8.PNG" width="200">
               </a>
            </div>
            <div class="col-md-7">
               <div class="popular-course-details wow fadeIn" >
                  <a href="http://www.revistas.unam.mx/index.php/rmac" target="_blank">
                     <h3>
                        Revista Mexicana de Análisis de la Conducta
                     </h3>
                  </a>
                </div>
            </div>
         </div>
      </div>


   </div>
</section>
<!-- End Themeix Course -->
{% include subscribe.html %}