---
layout: default
title: Seguimiento de Egresados
permalink: /seguimiento-egresados
---
{% include page-title.html %}
<!-- Start Themeix Feature-->
<section class="themeix-feature section-spacing bg-color">
   <div class="container">
      <div class="row">
         <p>
            El Seguimiento de Egresados es un esfuerzo realizado por el Instituto para recopilar información respecto a la trayectoria profesional y laboral de los egresados.
         </p>
         <p>
            La información recuperada constituye un referente valioso para evaluar a través del desempeño de los egresados el impacto de los programas educativos de la institución.
         </p>
      </div>
      <div class="row">
         <div class="col-md-10 ">
            <div class="themeix-section-title">
               <br>
               <h2>Paso 1</h2>
               <div class="section-border left-border"></div>
               <p align="justify">
                  Es importante que los estudiantes próximos a egresar, o bien han egresado recientemente nos apoyen con sus datos de identificación a través de los cuales podremos contactarlos posteriormente.
               </p>
            </div>
         </div>
         <div class="col-md-2 ">
            <br><br><br><br>
           <!--<div align="center"> <a href="seguimiento-registro.html" class="themeix-blog-btn btn btn-primary">Ingresar tus datos</a></div>-->
          <div align="center"> <a href="https://ihjaimesabines.edu.mx/old/wp/seguimiento/registrarse.php" class="themeix-blog-btn btn btn-primary" target="_blank">Ingresar tus datos</a></div>
        </div>
     </div>
<br><br>
     <div class="row">
        <div class="col-md-10">
           <div class="themeix-section-title">
              <h2>
                 Paso 2
              </h2>
              <div class="section-border left-border"></div>
              <p align="justify">
                 Si tienes más de un año de haber egresado, solicitamos tu apoyo referente a tu trayectoría formativa e inserción laboral
              </p>
           </div>
        </div>
        <div class="col-md-2">
           <br><br>
           <!--<div align="center"><a href="seguimiento-encuesta.html" class="themeix-blog-btn btn btn-primary">Responder encuesta</a></div>-->
          <div align="center"><a href="https://ihjaimesabines.edu.mx/old/wp/seguimiento/encuesta/login.php" class="themeix-blog-btn btn btn-primary" target="_blank">Responder encuesta</a></div>
        </div>
     </div>

  </div>
</section>
<!-- End Themeix Feature -->

<!-- End Themeix Feature-->

{% include subscribe.html %}