---
layout: default
title: Servicios de apoyos adicionales
permalink: /servicios-adicionales
---
{% include page-title.html %}
<!-- Start Themeix Feature-->
<section class="themeix-feature section-spacing bg-color">
   <div class="container">
      <div class="row">
         <div class="col-md-6 col-lg-5">
            <div class="themeix-section-title">
               <br>
               <h2>Servicios Médicos</h2>
               <div class="section-border left-border"></div>
               <p align="justify">
                  El Instituto ofrece a su comunidad educativa servicios médicos y de enfermería de manera permanente.
               </p>
            </div>
         </div>
         <div class="col-md-6 col-lg-7">
            <div class="themeix-single-thumb"><img src="{{ site.baseurl }}/assets/images/servicios_medicos3.jpg" alt="servicios"></div>
         </div>
      </div>
<br><br>
      <div class="row">
         <div class="col-md-6 col-lg-6">
            <div class="themeix-single-thumb"><img src="{{ site.baseurl }}/assets/images/psicopedagogia2.jpg" alt="servicios"></div>
         </div>
         <div class="col-md-6 col-lg-6">
            <div class="themeix-section-title">
               <h2>
                  Centro de apoyo psicopedagógico
               </h2>
               <div class="section-border left-border"></div>
               <p align="justify">
                  El Instituto ofrece servicios cargo de profesionales en el área de psicología, quienes trabajan con los estudiantes que demandan el servicio de  apoyo emocional, así como de diagnóstico e intervención en necesidades y problemas de aprendizaje.
               </p>
            </div>
         </div>
      </div>
      <br><br>
      <div class="row">
         <div class="col-md-6 col-lg-5">
            <div class="themeix-section-title">
               <h2>
                  Formación integral
               </h2>
               <div class="section-border left-border"></div>
               <p align="justify">
                  Para los diversos grados y niveles de estudios se han diseñado asignaturas extracurricular que favorezcan el desarrollo de competencias para la vida, ejemplo: inglés, computación, robótica, reanimación cardiopulmonar,  entre otras.

               </p>
            </div>
         </div>
         <div class="col-md-6 col-lg-7">
            <div class="themeix-single-thumb"><img src="{{ site.baseurl }}/assets/images/integral2.jpg" alt="servicios"></div>
         </div>
      </div>

   </div>
</section>
<!-- End Themeix Feature -->

<!-- End Themeix Feature-->

{% include subscribe.html %}