<div class="row">
          <div class="col-md-6 col-lg-5">
             <div class="themeix-section-title">
                <h2>21 años de servicio</h2>
                <div class="section-border left-border"></div>
                <p align="justify">El Instituto Hispano Jaime Sabines fue fundado en el año 2000, inicia sus actividades con programas educativos de nivel básico (preescolar, primaria y secundaria), así como programas de educación media superior (preparatoria).  Una década más tarde, incorpora sus primeros programas educativos de pregrado y posgrado.
                   <br><br>
                   En 2019 adopta un Modelo Educativo por Competencias y establece acciones dirigidas a garantizar la calidad de sus programas educativos, entre ellos: modernización de sus instalaciones, incorporación de plataformas educativas, construcción de biblioteca física y virtual, entre otros. Esfuerzo que fue reconocido en el 2020, al lograr el reconocimiento.
                   <br><br>
                   A partir del año 2020, algunos programas de pregrado fueron reconocidas por su calidad educativa a través de acreditaciones otorgadas por los Comités Interinstitucionales para la Evaluación de la Educación Superior (CIEES).
                   <br><br>
                   En el Instituto se trabaja día a día para ofertar programas educativos de calidad que coadyuven al desarrollo de competencias, permitiendo a los estudiantes y egresados responder a las exigencias educativas locales y globales.
                   <br><br>
                </p>
             </div>
         </div>

   <div class="col-md-6 col-lg-7">
      <br><br><br>
      <div class="themeix-video-thumb" style="background-image:url({{ site.baseurl }}/assets/images/antecedentes.jpg);">
      </div>
   </div>

</div>