<div class="contact-column bg-color themeix">
    <form method="POST" action="https://formspree.io/themeix@gmail.com" class="contact-resgister-form wow fadeIn "
        data-wow-duration="2s">
        <h2>Send us message</h2>
        <div class="alert alert-success contact__msg" style="display: none" role="alert">
            Your message was sent successfully.
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="Name" placeholder="Your Name" required>
        </div>
        <div class="form-group">
            <input type="email" class="form-control" name="Email" placeholder="Your Email" required>
        </div>
        <div class="form-group">
            <textarea name="Message" id="message" class="form-control" placeholder="Write Message" cols="30"
                rows="10"></textarea>
        </div>
        <input name="submit" type="submit" class="btn-style1 btn-color1 btn btn-primary" value="Send Message">
    </form>
</div>