<div class="contact-column bg-color themeix">
    <form method="POST" action="https://formspree.io/themeix@gmail.com" class="contact-resgister-form wow fadeIn "
        data-wow-duration="2s">
        <h2>Envíanos un mensaje</h2>
        <div class="alert alert-success contact__msg" style="display: none" role="alert">
            Tu mensaje fue enviado satisfactoriamente.
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="Name" placeholder="Nombre" required>
        </div>
        <div class="form-group">
            <input type="email" class="form-control" name="Email" placeholder="Correo electrónico" required>
        </div>
        <div class="form-group">
            <textarea name="Message" id="message" class="form-control" placeholder="Escribe un mensaje" cols="30"
                rows="10"></textarea>
        </div>
        <input name="submit" type="submit" class="btn-style1 btn-color1 btn btn-primary" value="Enviar mensaje">
    </form>
</div>