<!-- Start Themeix Counter-->
<section class="themeix-counter section-spacing section-overlay">
   <div class="container">
      <div class="row">
         <div class=" col-md-3 ">
            <div class="themeix-counter-wrapper wow fadeIn" data-wow-duration="500ms">
               <h3> <span class="counter"><b>21 AÑOS</b></span></h3>
              </div>
         </div>
         <div class=" col-md-9">
            <div class="themeix-counter-wrapper wow fadeIn" data-wow-duration="1s">
               <h3 > Promoviendo la formación de alumnos con alta calidad académica y humanística</h3>
            </div>
         </div>
         <!--         <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="themeix-counter-wrapper wow fadeIn" data-wow-duration="1s">
                       <h3 > <span class="counter">123456</span></h3>
                       <p>Alumnos graduados</p>
                    </div>
                 </div>
                 <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="themeix-counter-wrapper wow fadeIn" data-wow-duration="2s">
                       <h3 class="counter">350</h3>
                       <p>Maestros en nuestra plantilla</p>
                    </div>
                 </div>
                 <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="themeix-counter-wrapper wow fadeIn" data-wow-duration="2.5s">
                       <h3 class="counter">52</h3>
                       <p>Aulas totalmente equipadas</p>
                    </div>
                 </div> -->
              </div>
           </div>
        </section>
        <!-- End Themeix Counter -->