<!-- Start Themeix Counter-->
<section class="themeix-counter section-spacing">
   <div class="container">
      <div class="row">
         <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="themeix-counter-wrapper wow fadeIn" data-wow-duration="500ms">
               <h3 class="counter">3265</h3>
               <p>Passed Graduates</p>
            </div>
         </div>
         <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="themeix-counter-wrapper wow fadeIn" data-wow-duration="1s">
               <h3 > <span class="counter">256</span>+</h3>
               <p>Courses Published</p>
            </div>
         </div>
         <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="themeix-counter-wrapper wow fadeIn" data-wow-duration="2s">
               <h3 class="counter">256</h3>
               <p>Qualified Staff</p>
            </div>
         </div>
         <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="themeix-counter-wrapper wow fadeIn" data-wow-duration="2.5s">
               <h3 class="counter">155</h3>
               <p>Countries Reachd</p>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- End Themeix Counter -->