<div class="col-md-6">
   <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
      <div class="popular-course-thumb" style="background-image:url({{ site.baseurl }}/assets/images/ih/diplomados.png);">
      </div>
      <div class="popular-course-content ">
         <a href="/diplomados">
            <h5>Diplomados</h5>
         </a>
         <p>Texto diplomados</p>
         <div class="popular-course-meta">
            <div class="themeix-course-action">
               <a class="popular-course-enroll" href="/diplomados">Conoce más...</a>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="col-md-6">
   <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
      <div class="popular-course-thumb" style="background-image:url({{ site.baseurl }}/assets/images/ih/especialidades.png);">
      </div>
      <div class="popular-course-content ">
         <a href="/especialidades">
            <h5>Especialidades</h5>
         </a>
         <p>Texto para especialidades</p>
         <div class="popular-course-meta">
            <div class="themeix-course-action">
               <a class="popular-course-enroll" href="/especialidades">Conoce más...</a>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="col-md-6">
   <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
      <div class="popular-course-thumb" style="background-image:url({{ site.baseurl }}/assets/images/ih/maestrias.png);">
      </div>
      <div class="popular-course-content ">
         <a href="/maestrias">
            <h5>Maestrías</h5>
         </a>
         <p>Texto para maestrías</p>
         <div class="popular-course-meta">
            <div class="themeix-course-action">
               <a class="popular-course-enroll" href="/maestrias">Conoce más...</a>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="col-md-6">
   <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
      <div class="popular-course-thumb" style="background-image:url({{ site.baseurl }}/assets/images/ih/doctorados.png);">
      </div>
      <div class="popular-course-content ">
         <a href="/doctorados">
            <h5>Doctorados</h5>
         </a>
         <p>Texto para doctorados</p>
         <div class="popular-course-meta">
            <div class="themeix-course-action">
               <a class="popular-course-enroll" href="/doctorados">Conoce más...</a>
            </div>
         </div>
      </div>
   </div>

</div>