<div class="col-md-6">
    <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
        <div class="popular-course-thumb" style="background-image:url({{ site.baseurl }}/assets/images/ih/ebasica.jpg);">
        </div>
        <div class="popular-course-content ">
            <a href="/educacion-basica">
                <h5>Educación básica</h5>
            </a>
            <p>Los programas educativos implementados en educación básica permite a los niños y jóvenes desarrollar competencias cognitivas y socioafectivas para desenvolverse en el ámbito escolar y social de manera satisfactoria. Las instalaciones brindan confort y seguridad a nuestros estudiantes. El personal docente esta capacitado para atender necesidades educativas especiales y promover experiencias de aprendizaje significativas.  </p>
            <div class="popular-course-meta">
                <div class="themeix-course-action">
                    <a class="popular-course-enroll" href="/ebasica">Conoce más...</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
        <div class="popular-course-thumb" style="background-image:url({{ site.baseurl }}/assets/images/ih/emediasuperior.jpg);">
        </div>
        <div class="popular-course-content ">
            <a href="/educacion-media-superior">
                <h5>Educación media superior</h5>
            </a>
            <p>Prepara para el estudio de diferentes disciplinas científicas, tecnológicas y humanísticas; y proporciona una cultura general a fin de que sus egresados se incorporen a las instituciones de educación superior.</p>
            <div class="popular-course-meta">
                <div class="themeix-course-action">
                    <a class="popular-course-enroll" href="/emediasuperior">Conoce más...</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
        <div class="popular-course-thumb" style="background-image:url({{ site.baseurl }}/assets/images/ih/licenciatura.jpg);">
        </div>
        <div class="popular-course-content ">
            <a href="/licenciaturas">
                <h5>Licenciaturas</h5>
            </a>
            <p>Los programas educativos del nivel licenciatura trabajan un modelo educativo por competencias, favoreciendo ambientes de enseñanza aprendizaje innovadores que respondan a las exigencias del mercado laboral. Las instalaciones son modernas y conformarles. Nos distingue la búsqueda continua de la calidad educativa.  </p>
            <div class="popular-course-meta">
                <div class="themeix-course-action">
                    <a class="popular-course-enroll" href="/licenciaturas">Conoce más...</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
        <div class="popular-course-thumb" style="background-image:url({{ site.baseurl }}/assets/images/ih/posgrado.jpg);">
        </div>
        <div class="popular-course-content ">
            <a href="/posgrados">
                <h5>Posgrados</h5>
            </a>
            <p>Los programas de posgrado están diseñados para formar en temas altamente especializados, coadyuvando a la resolución de problemáticas y necesidades específicos del entorno local y global, así como a la generación y difusión del conocimiento.</p>
            <div class="popular-course-meta">
                <div class="themeix-course-action">
                    <a class="popular-course-enroll" href="/posgrados">Conoce más...</a>
                </div>
            </div>
        </div>
    </div>

</div>