<section class="themeix-Course section-spacing bg-color">
    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
                    <a href="/educacion/enfermeria">
                        <div class="popular-course-thumb" style="background-image:url(/assets/images/enfermeria.png);">
                        </div>
                    </a>
                    <div class="popular-course-content ">
                        <a href="/educacion/enfermeria">
                            <h5>Licenciatura en Enfermería</h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
                    <a href="/educacion/trabajo_social">
                        <div class="popular-course-thumb" style="background-image:url(/assets/images/trabajo_social.png);">
                        </div>
                    </a>
                    <div class="popular-course-content ">
                        <a href="/educacion/trabajo_social">
                            <h5>Licenciatura en Trabajo Social</h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
                    <a href="/educacion/maternal">
                        <div class="popular-course-thumb" style="background-image:url(/assets/images/primaria.png);">
                        </div>
                    </a>
                    <div class="popular-course-content ">
                        <a href="/educacion/primaria">
                            <h5>Primaria</h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
                    <a href="/educacion/maternal">
                        <div class="popular-course-thumb" style="background-image:url(/assets/images/secundaria.png);">
                        </div>
                    </a>
                    <div class="popular-course-content ">
                        <a href="/educacion/secundaria">
                            <h5>Secundaria</h5>
                        </a>
                    </div>
                </div>
            </div>

           <div class="col-md-3">
              <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
                 <a href="/educacion/maternal">
                    <div class="popular-course-thumb" style="background-image:url(/assets/images/maternal.png);">
                    </div>
                 </a>
                 <div class="popular-course-content ">
                    <a href="/educacion/maternal">
                       <h5>Maternal</h5>
                    </a>
                 </div>
              </div>
           </div>
           <div class="col-md-3">
              <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
                 <a href="/educacion/preescolar">
                    <div class="popular-course-thumb" style="background-image:url(/assets/images/preescolar.png);">
                    </div>
                 </a>
                 <div class="popular-course-content ">
                    <a href="/educacion/preescolar">
                       <h5>Preescolar</h5>
                    </a>
                 </div>
              </div>
           </div>
           <div class="col-md-3">
              <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
                 <a href="/educacion/maternal">
                    <div class="popular-course-thumb" style="background-image:url(/assets/images/primaria.png);">
                    </div>
                 </a>
                 <div class="popular-course-content ">
                    <a href="/educacion/primaria">
                       <h5>Primaria</h5>
                    </a>
                 </div>
              </div>
           </div>
           <div class="col-md-3">
              <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
                 <a href="/educacion/maternal">
                    <div class="popular-course-thumb" style="background-image:url(/assets/images/secundaria.png);">
                    </div>
                 </a>
                 <div class="popular-course-content ">
                    <a href="/educacion/secundaria">
                       <h5>Secundaria</h5>
                    </a>
                 </div>
              </div>
           </div>

        </div>
    </div>
</section>