<section class="themeix-Course section-spacing bg-color">
   <div class="container">
      <div class="row">
         <div class="col-md-4">
            <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
               <a href="{{ site.baseurl }}/educacion/administracion_salud">
                  <div class="popular-course-thumb" style="background-image:url({{ site.baseurl }}/assets/images/ih/administracion_salud.png);">
                  </div>
               </a>
               <div class="popular-course-content ">
                  <a href="{{ site.baseurl }}/educacion/administracion_salud">
                     <h5>Maestría en Administración de la Salud</h5>
                  </a>

               </div>
            </div>
         </div>
        <div class="col-md-4">
          <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
            <a href="{{ site.baseurl }}/educacion/ciencias_salud">
              <div class="popular-course-thumb" style="background-image:url({{ site.baseurl }}/assets/images/ih/ciencias_salud.png);">
              </div>
            </a>
            <div class="popular-course-content ">
              <a href="{{ site.baseurl }}/educacion/ciencias_salud">
                <h5>Maestría en Ciencias de la Salud con Especialidad en Epidemiología</h5>
              </a>

            </div>
          </div>
        </div>
         <div class="col-md-4">
            <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
               <a href="{{ site.baseurl }}/educacion/educacion_especial">
                  <div class="popular-course-thumb" style="background-image:url({{ site.baseurl }}/assets/images/ih/educacion_especial.png);">
                  </div>
               </a>
               <div class="popular-course-content ">
                  <a href="{{ site.baseurl }}/educacion/educacion_especial">
                     <h5>Maestría en Educación Especial</h5>
                  </a>

               </div>
            </div>
         </div>
         <div class="col-md-4">
            <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
               <a href="{{ site.baseurl }}/educacion/ciencias_educacion">
                  <div class="popular-course-thumb" style="background-image:url({{ site.baseurl }}/assets/images/ih/ciencias_educacion.png);">
                  </div>
               </a>
               <div class="popular-course-content ">
                  <a href="{{ site.baseurl }}/educacion/ciencias_educacion">
                     <h5>Maestría en Ciencias de la Educación</h5>
                  </a>

               </div>
            </div>
         </div>
         <div class="col-md-4">
            <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
               <a href="{{ site.baseurl }}/educacion/finanzas">
                  <div class="popular-course-thumb" style="background-image:url({{ site.baseurl }}/assets/images/licenciaturas/finanzas.png);">
                  </div>
               </a>
               <div class="popular-course-content ">
                  <a href="{{ site.baseurl }}/educacion/finanzas">
                     <h5>Maestría en Planeación Financiera y Fiscal</h5>
                  </a>

               </div>
            </div>
         </div>

      </div>
   </div>
</section>
