<section class="themeix-Course section-spacing bg-color">
    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
                    <a href="/educacion/enfermeria">
                        <div class="popular-course-thumb" style="background-image:url(/assets/images/enfermeria.png);">
                        </div>
                    </a>
                    <div class="popular-course-content ">
                        <a href="/educacion/enfermeria">
                            <h5>Licenciatura en Enfermería</h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
                    <a href="/educacion/trabajo_social">
                        <div class="popular-course-thumb" style="background-image:url(/assets/images/trabajo_social.png);">
                        </div>
                    </a>
                    <div class="popular-course-content ">
                        <a href="/educacion/trabajo_social">
                            <h5>Licenciatura en Trabajo Social</h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
                    <a href="/educacion/psicologia_general">
                        <div class="popular-course-thumb" style="background-image:url(/assets/images/psicologia_general.png);">
                        </div>
                    </a>
                    <div class="popular-course-content ">
                        <a href="/educacion/psicologia_general">
                            <h5>Licenciatura en Psicología General</h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
                    <a href="/educacion/psicologia_clinica">
                        <div class="popular-course-thumb" style="background-image:url(/assets/images/psicologia_clinica.png);">
                        </div>
                    </a>
                    <div class="popular-course-content ">
                        <a href="/educacion/psicologia_clinica">
                            <h5>Licenciatura en Psicología Clínica </h5>
                        </a>
                    </div>
                </div>
            </div>

           <div class="col-md-3">
              <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
                 <a href="/educacion/derecho">
                    <div class="popular-course-thumb" style="background-image:url(/assets/images/derecho.png);">
                    </div>
                 </a>
                 <div class="popular-course-content ">
                    <a href="/educacion/derecho">
                       <h5>Licenciatura en Derecho </h5>
                    </a>
                 </div>
              </div>
           </div>
           <div class="col-md-3">
              <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
                 <a href="/educacion/contaduria_publica">
                    <div class="popular-course-thumb" style="background-image:url(/assets/images/contaduria_publica.png);">
                    </div>
                 </a>
                 <div class="popular-course-content ">
                    <a href="/educacion/contaduria_publica">
                       <h5>Licenciatura en Contaduría Pública</h5>
                    </a>
                 </div>
              </div>
           </div>
           <div class="col-md-3">
              <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
                 <a href="/educacion/administracion_empresas">
                    <div class="popular-course-thumb" style="background-image:url(/assets/images/administracion_empresas.png);">
                    </div>
                 </a>
                 <div class="popular-course-content ">
                    <a href="/educacion/administracion_empresas">
                       <h5>Licenciatura en Administración de Empresas</h5>
                    </a>
                 </div>
              </div>
           </div>
           <div class="col-md-3">
              <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
                 <a href="/educacion/informatica_administrativa">
                    <div class="popular-course-thumb" style="background-image:url(/assets/images/informatica_administrativa.png);">
                    </div>
                 </a>
                 <div class="popular-course-content ">
                    <a href="/educacion/informatica_administrativa">
                       <h5>Licenciatura en Informática Administrativa </h5>
                    </a>
                 </div>
              </div>
           </div>

           <div class="col-md-3">
              <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
                 <a href="/educacion/ingenieria_industrial">
                    <div class="popular-course-thumb" style="background-image:url(/assets/images/ingenieria_industrial.png);">
                    </div>
                 </a>
                 <div class="popular-course-content ">
                    <a href="/educacion/ingenieria_industrial">
                       <h5>Ingeniería Industrial </h5>
                    </a>
                 </div>
              </div>
           </div>

        </div>
    </div>
</section>