<section class="themeix-Course section-spacing bg-color">
    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
                    <a href="{{ site.baseurl }}/educacion/enfermeria">
                        <div class="popular-course-thumb" style="background-image:url({{ site.baseurl }}/assets/images/licenciaturas/enfermeria.png);">
                        </div>
                    </a>
                    <div class="popular-course-content ">
                        <a href="{{ site.baseurl }}/educacion/enfermeria">
                            <h5>Licenciatura en Enfermería</h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
                    <a href="{{ site.baseurl }}/educacion/trabajo_social">
                        <div class="popular-course-thumb" style="background-image:url({{ site.baseurl }}/assets/images/licenciaturas/trabajo_social.png);">
                        </div>
                    </a>
                    <div class="popular-course-content ">
                        <a href="{{ site.baseurl }}/educacion/trabajo_social">
                            <h5>Licenciatura en Trabajo Social</h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
                    <a href="{{ site.baseurl }}/educacion/psicologia_general">
                        <div class="popular-course-thumb" style="background-image:url({{ site.baseurl }}/assets/images/licenciaturas/psicologia_general.png);">
                        </div>
                    </a>
                    <div class="popular-course-content ">
                        <a href="{{ site.baseurl }}/educacion/psicologia_general">
                            <h5>Licenciatura en Psicología General</h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
                    <a href="{{ site.baseurl }}/educacion/psicologia_clinica">
                        <div class="popular-course-thumb" style="background-image:url({{ site.baseurl }}/assets/images/licenciaturas/psicologia_clinica.png);">
                        </div>
                    </a>
                    <div class="popular-course-content ">
                        <a href="{{ site.baseurl }}/educacion/psicologia_clinica">
                            <h5>Licenciatura en Psicología Clínica </h5>
                        </a>
                    </div>
                </div>
            </div>

           <div class="col-md-3">
              <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
                 <a href="{{ site.baseurl }}/educacion/derecho">
                    <div class="popular-course-thumb" style="background-image:url({{ site.baseurl }}/assets/images/licenciaturas/derecho.png);">
                    </div>
                 </a>
                 <div class="popular-course-content ">
                    <a href="{{ site.baseurl }}/educacion/derecho">
                       <h5>Licenciatura en Derecho </h5>
                    </a>
                 </div>
              </div>
           </div>
           <div class="col-md-3">
              <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
                 <a href="{{ site.baseurl }}/educacion/contaduria_publica">
                    <div class="popular-course-thumb" style="background-image:url({{ site.baseurl }}/assets/images/licenciaturas/contaduria_publica.png);">
                    </div>
                 </a>
                 <div class="popular-course-content ">
                    <a href="{{ site.baseurl }}/educacion/contaduria_publica">
                       <h5>Licenciatura en Contaduría Pública</h5>
                    </a>
                 </div>
              </div>
           </div>
           <div class="col-md-3">
              <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
                 <a href="{{ site.baseurl }}/educacion/administracion_empresas">
                    <div class="popular-course-thumb" style="background-image:url({{ site.baseurl }}/assets/images/licenciaturas/administracion_empresas.png);">
                    </div>
                 </a>
                 <div class="popular-course-content ">
                    <a href="{{ site.baseurl }}/educacion/administracion_empresas">
                       <h5>Licenciatura en Administración de Empresas</h5>
                    </a>
                 </div>
              </div>
           </div>
           <div class="col-md-3">
              <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
                 <a href="{{ site.baseurl }}/educacion/informatica_administrativa">
                    <div class="popular-course-thumb" style="background-image:url({{ site.baseurl }}/assets/images/licenciaturas/informatica_administrativa.png);">
                    </div>
                 </a>
                 <div class="popular-course-content ">
                    <a href="{{ site.baseurl }}/educacion/informatica_administrativa">
                       <h5>Licenciatura en Informática Administrativa </h5>
                    </a>
                 </div>
              </div>
           </div>


           <div class="col-md-3">
              <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
                 <a href="{{ site.baseurl }}/educacion/ingenieria_industrial">
                    <div class="popular-course-thumb" style="background-image:url({{ site.baseurl }}/assets/images/licenciaturas/ingenieria_industrial.png);">
                    </div>
                 </a>
                 <div class="popular-course-content ">
                    <a href="{{ site.baseurl }}/educacion/ingenieria_industrial">
                       <h5>Ingeniería Industrial </h5>
                    </a>
                 </div>
              </div>
           </div>

           <div class="col-md-3">
              <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
                 <a href="{{ site.baseurl }}/educacion/pedagogia">
                    <div class="popular-course-thumb" style="background-image:url({{ site.baseurl }}/assets/images/licenciaturas/pedagogia.png);">
                    </div>
                 </a>
                 <div class="popular-course-content ">
                    <a href="{{ site.baseurl }}/educacion/pedagogia">
                       <h5>Licenciatura en Pedagogía </h5>
                    </a>
                 </div>
              </div>
           </div>

           <div class="col-md-3">
              <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
                 <a href="{{ site.baseurl }}/educacion/criminologia_criminalistica">
                    <div class="popular-course-thumb" style="background-image:url({{ site.baseurl }}/assets/images/licenciaturas/criminologia.png);">
                    </div>
                 </a>
                 <div class="popular-course-content ">
                    <a href="{{ site.baseurl }}/educacion/criminologia_criminalistica">
                       <h5>Licenciatura en Criminología y Criminalística </h5>
                    </a>
                 </div>
              </div>
           </div>

           <div class="col-md-3">
              <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
                 <a href="{{ site.baseurl }}/educacion/derecho_litigacion">
                    <div class="popular-course-thumb" style="background-image:url({{ site.baseurl }}/assets/images/licenciaturas/derecho_litigacion.png);">
                    </div>
                 </a>
                 <div class="popular-course-content ">
                    <a href="{{ site.baseurl }}/educacion/derecho_litigacion">
                       <h5>Licenciatura en Derecho y Litigación</h5>
                    </a>
                 </div>
              </div>
           </div>

        </div>
    </div>
</section>
