<div class="col-md-6">
    <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
        <div class="popular-course-thumb" style="background-image:url({{ site.baseurl }}/assets/images/ih/ebasica.jpg);">
        </div>
        <div class="popular-course-content ">
            <a href="/educacion-basica">
                <h5>Educación básica</h5>
            </a>
            <p>Maternal, Preescolar, Primaria y Secundaria</p>
            <div class="popular-course-meta">
                <div class="themeix-course-action">
                    <a class="popular-course-enroll" href="/ebasica">Conoce más...</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
        <div class="popular-course-thumb" style="background-image:url(/assets/images/ih/emediasuperior.jpg);">
        </div>
        <div class="popular-course-content ">
            <a href="/educacion-media-superior">
                <h5>Educación media superior</h5>
            </a>
            <p>Prepara para el estudio de diferentes disciplinas científicas, tecnológicas y humanísticas; y proporciona una cultura general a fin de que sus egresados se incorporen a las instituciones de educación superior.</p>
            <div class="popular-course-meta">
                <div class="themeix-course-action">
                    <a class="popular-course-enroll" href="/emediasuperior">Conoce más...</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
        <div class="popular-course-thumb" style="background-image:url(/assets/images/ih/licenciatura.jpg);">
        </div>
        <div class="popular-course-content ">
            <a href="/licenciaturas">
                <h5>Licenciaturas</h5>
            </a>
            <p>Conoce nuestras diferentes licenciaturas en las modalidades: escolarizada y mixta</p>
            <div class="popular-course-meta">
                <div class="themeix-course-action">
                    <a class="popular-course-enroll" href="/licenciaturas">Conoce más...</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
        <div class="popular-course-thumb" style="background-image:url(/assets/images/ih/posgrado.jpg);">
        </div>
        <div class="popular-course-content ">
            <a href="/posgrados">
                <h5>Posgrados</h5>
            </a>
            <p>Conoce nuestros Diplomados, Especialidades, Maestrías y Doctorados</p>
            <div class="popular-course-meta">
                <div class="themeix-course-action">
                    <a class="popular-course-enroll" href="/posgrados">Conoce más...</a>
                </div>
            </div>
        </div>
    </div>

</div>