<div class="col-md-6">
   <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
      <div class="popular-course-thumb" style="background-image:url({{ site.baseurl }}/assets/images/ih/diplomados.png);">
      </div>
      <div class="popular-course-content ">
         <a href="{{ site.baseurl }}/diplomados">
            <h5>Diplomados</h5>
         </a>
         <p>El Instituto ofrece diversos programas de formación continua, los cuales están dirigidos a profesionales que les interesa la capacitación constante así como la construcción de conocimientos cognitivos y procedimentales en temas emergentes.</p>
         <div class="popular-course-meta">
            <div class="themeix-course-action">
               <a class="popular-course-enroll" href="{{ site.baseurl }}/diplomados">Conoce más...</a>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="col-md-6">
   <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
      <div class="popular-course-thumb" style="background-image:url({{ site.baseurl }}/assets/images/ih/especialidades.png);">
      </div>
      <div class="popular-course-content ">
         <a href="{{ site.baseurl }}/especialidades">
            <h5>Especialidades</h5>
         </a>
         <p>El Instituto ofrece programas de estudios en temas especializados, favoreciendo la atención de necesidades sociales especificas. </p>
         <div class="popular-course-meta">
            <div class="themeix-course-action">
               <a class="popular-course-enroll" href="{{ site.baseurl }}/especialidades">Conoce más...</a>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="col-md-6">
   <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
      <div class="popular-course-thumb" style="background-image:url({{ site.baseurl }}/assets/images/ih/maestrias.png);">
      </div>
      <div class="popular-course-content ">
         <a href="{{ site.baseurl }}/maestrias">
            <h5>Maestrías</h5>
         </a>
         <p>El Instituto coadyuva a la generación y difusión de conocimientos científicos a través de su oferta educativa de maestría.</p>
         <div class="popular-course-meta">
            <div class="themeix-course-action">
               <a class="popular-course-enroll" href="{{ site.baseurl }}/maestrias">Conoce más...</a>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="col-md-6">
   <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
      <div class="popular-course-thumb" style="background-image:url({{ site.baseurl }}/assets/images/ih/doctorados.png);">
      </div>
      <div class="popular-course-content ">
         <a href="{{ site.baseurl }}/doctorados">
            <h5>Doctorados</h5>
         </a>
         <p>El Instituto forma doctorantes con perspectiva de responsabilidad social, que construyen y difunden conocimientos científicos y tecnológicos.</p>
         <div class="popular-course-meta">
            <div class="themeix-course-action">
               <a class="popular-course-enroll" href="{{ site.baseurl }}/doctorados">Conoce más...</a>
            </div>
         </div>
      </div>
   </div>

</div>