<div class="col-md-4">
   <div class="popular-course-post-int wow fadeIn" data-wow-duration="2s" >
      <a href="/educacion/sindrome_metabolico">
         <div class="popular-course-thumb" style="background-image:url({{ site.baseurl }}/assets/images/ih/sindrome_metabolico.png);">
         </div>
      </a>
      <div class="popular-course-content ">
         <a href="/educacion/sindrome_metabolico">
            <h5>Diplomado "Síndrome Metabólico"</h5>
         </a>

      </div>
   </div>
</div>
<div class="col-md-4">
   <div class="popular-course-post-int wow fadeIn" data-wow-duration="2s" >
      <a href="/educacion/enfermeria_obstetrica">
         <div class="popular-course-thumb" style="background-image:url({{ site.baseurl }}/assets/images/ih/enfermeria_obstetrica.png);">
         </div>
      </a>
      <div class="popular-course-content ">
         <a href="/educacion/enfermeria_obstetrica">
            <h5>Diplomado "Enfermería Obstrética"</h5>
         </a>

      </div>
   </div>
</div>
<div class="col-md-4">
   <div class="popular-course-post-int wow fadeIn" data-wow-duration="2s" >
      <a href="/educacion/ecosonografia_abdominal">
         <div class="popular-course-thumb" style="background-image:url({{ site.baseurl }}/assets/images/ih/ecosonografia_abdominal.png);">
         </div>
      </a>
      <div class="popular-course-content ">
         <a href="/educacion/ecosonografia_abdominal">
            <h5>Diplomado "Ecosonografía Abdominal"</h5>
         </a>

      </div>
   </div>
</div>

</div>