<section class="themeix-Course section-spacing bg-color">
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
               <a href="/educacion/enfermeria_salud_publica">
                  <div class="popular-course-thumb" style="background-image:url(/assets/images/ih/enfermeria_salud_publica.png);">
                  </div>
               </a>
               <div class="popular-course-content ">
                  <a href="/educacion/enfermeria_salud_publica">
                     <h5>Especialidad "Enfermería en Salud Pública" </h5>
                  </a>

               </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
               <a href="/educacion/enfermeria_quirurgica">
                  <div class="popular-course-thumb" style="background-image:url(/assets/images/ih/enfermeria_quirurgica.png);">
                  </div>
               </a>
               <div class="popular-course-content ">
                  <a href="/educacion/enfermeria_quirurgica">
                     <h5>Especialidad "Enfermería Quirúrgica"</h5>
                  </a>

               </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
               <a href="/educacion/enfermeria_pediatrica">
                  <div class="popular-course-thumb" style="background-image:url(/assets/images/ih/enfermeria_pediatrica.png);">
                  </div>
               </a>
               <div class="popular-course-content ">
                  <a href="/educacion/enfermeria_pediatrica">
                     <h5>Especialidad "Enfermería Pediátrica"</h5>
                  </a>

               </div>
            </div>
         </div>

         <div class="col-md-6">
            <div class="popular-course-post wow fadeIn" data-wow-duration="2s" >
               <a href="/educacion/enfermeria_terapia_intensiva">
                  <div class="popular-course-thumb" style="background-image:url(/assets/images/ih/enfermeria_terapia_intensiva.png);">
                  </div>
               </a>
               <div class="popular-course-content ">
                  <a href="/educacion/enfermeria_terapia_intensiva">
                     <h5>Especialidad "Enfermería Terapia Intensiva"</h5>
                  </a>

               </div>
            </div>
         </div>
      </div>
   </div>
</section>