<!-- Start Themeix Footer -->
<footer class="themeix-footer bg-color4">
   <div class="themeix-footer-container section-spacing">
      <div class="container">
         <div class="row">
            <div class="col-lg-5 col-md-6">
               <div class="themeix-footer-widget wow fadeIn" data-wow-duration="2s">
                  <div class="themeix-footer-logo"><a href="{{site.url}}"><img src="{{ site.baseurl }}{{site.logo_url}}"
                           alt="footer logo img" /></a></div>
                  <p>En el Instituto trabajamos día a día para ofertar programas educativos de calidad que coadyuven al desarrollo de competencias, permitiendo a los estudiantes y egresados responder a las exigencias educativas locales y globales.</p>
                  <h4>Formando valores para toda la vida</h4>

                  <ul class="themeix-footer-social list-inline">

                     {% if site.facebook_url %}
                     <li class="list-inline-item">
                           <a class="facebook" href="{{site.facebook_url}}"><i class="fa fa-facebook"></i></a>
                     </li>
                     {% endif %}

                     {% if site.twitter_url %}
                     <li class="list-inline-item">
                           <a class="twitter" href="{{site.twitter_url}}"> <i class="fa fa-twitter"></i></a>
                     </li>
                     {% endif %}

                     {% if site.instagram_url %}
                     <li class="list-inline-item">
                           <a class="instagram" href="{{site.instagram_url}}"> <i class="fa fa-instagram"></i></a>
                     </li>
                     {% endif %}

                     {% if site.pinterest_url %}
                     <li class="list-inline-item">
                           <a class="pinterest" href="{{site.pinterest_url}}"> <i class="fa fa-pinterest"></i></a>
                     </li>
                     {% endif %}

                     {% if site.youtube_url %}
                     <li class="list-inline-item">
                        <a class="youtube" href="{{site.youtube_url}}"> <i class="fa fa-youtube"></i></a>
                     </li>
                     {% endif %}

                     <li class="list-inline-item">
                        <a class="login-ih" href="{{site.sistema_educacion}}" ><i class="fa fa-user"></i></a>
                     </li>

                  </ul>
                  <h5>Llámanos</h5>
                  <h6>{{site.tel_num}}</h6>
               </div>
            </div>
            <!--<div class="col-lg-2 col-md-6">
               <div class="themeix-footer-widget wow fadeIn" data-wow-duration="2s">
                  <h4>Tag Cloud</h4>
                  <ul class="themeix-footer-single list-inline">
                     {% for tag in site.tags %}
                        <li class="list-inline-item"><a href="/tag/{{tag[0]}}">{{tag[0]}}</a></li>
                     {% endfor %}
                  </ul>
               </div>
            </div>--!>

            <div class="col-lg-2 col-md-6">
               <div class="themeix-footer-widget wow fadeIn" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-name: fadeIn;">
                  <h4>Accesos rápidos</h4>
                  <ul class="themeix-footer-single list-inline">
                     <li class="list-inline-item"><a href="{{ site.baseurl }}/oferta_academica">Oferta educativa</a></li>
                     <li class="list-inline-item"><a href="{{ site.baseurl }}/becas">Becas</a></li>
                     <li class="list-inline-item"><a href="{{ site.baseurl }}/servicios-adicionales">Servicios adicionales</a></li>
                     <li class="list-inline-item"><a href="{{ site.baseurl }}/seguimiento-egresados">Egresados</a></li>
                     <li class="list-inline-item"><a href="{{ site.baseurl }}/centro-evaluador">Certificaciones</a></li>
                  </ul>
               </div>
            </div>

            <div class="col-lg-2 col-md-6">
               <div class="themeix-footer-widget wow fadeIn" data-wow-duration="2s">
                  <h4>Conócenos</h4>
                  <ul class="themeix-footer-single list-inline">
                     <li class="list-inline-item"><a href="{{ site.baseurl }}/antecedentes">Antecedentes</a></li>
                     <li class="list-inline-item"><a href="{{ site.baseurl }}/all-directivos">Directivos</a></li>
                     <li class="list-inline-item"><a href="{{ site.baseurl }}/cultura-organizacional">Cultura Organizacional</a></li>
                     <li class="list-inline-item"><a href="{{ site.baseurl }}/organigrama">Organigrama</a></li>
                     <li class="list-inline-item"><a href="{{ site.baseurl }}/contactanos">Contacto</a></li>
                  </ul>
               </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeIn" data-wow-duration="2s">
               <div class="themeix-footer-widget m-0">
                  <h4>Formulario de contacto</h4>
                  <form method="POST" action="https://formspree.io/f/xwkwjbag" class="themeix-footer-form">
                     <div class="alert alert-success contact__msg" style="display: none" role="alert">
                        Tu mensaje fue enviado exitósamente
                     </div>
                     <div class="form-group">
                        <input type="text" name="Name" class="form-control" placeholder="Nombre completo" name="name" required>
                     </div>
                     <div class="form-group">
                        <input type="email" name="Email" class="form-control" placeholder="Correo electrónico" name="email" required>
                     </div>
                     <div class="form-group">
                        <textarea class="form-control" name="Message" rows="5" placeholder="Mensaje" name="message"
                           required></textarea>
                     </div>
                     <button type="submit" class="btn-style1 btn-color1 btn btn-primary">Enviar</button>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="themeix-footer-intro text-center">
      <div class="container">
         <p><a href="{{ site.baseurl }}/politicas-privacidad">Políticas de privacidad</a></p></p>
         <p>Callejón La Salle 800, Col. Sta. María la Ribera. C.P. 29070. Tuxtla Gutiérrez, Chiapas.</p>
            <p> &copy; Enero de 2020 {{ site.title }}</p>
      </div>
   </div>
</footer>
<!-- End Themeix Footer -->
