<header class="themeix-header">
   <div class="themeix-header-top bg-color2">
      <div class="container">
         <div class="d-flex justify-content-between themeix">
            <div class="themeix-top-bar-left">
               <p class="top-content"> <i class="fa fa-envelope-o"></i> <a
                     href="mailto:{{site.email}}">{{site.email}}</a></p>
            </div>
            <div class="themeix-top-bar-right">
               {% if site.facebook_url %}
               <a class="facebook" href="{{site.facebook_url}}"><i class="fa fa-facebook"></i></a>
               {% endif %}

               {% if site.twitter_url %}
               <a class="twitter" href="{{site.twitter_url}}"> <i class="fa fa-twitter"></i></a>
               {% endif %}

               {% if site.instagram_url %}
               <a class="instagram" href="{{site.instagram_url}}"> <i class="fa fa-instagram"></i></a>
               {% endif %}

               {% if site.pinterest_url %}
               <a class="pinterest" href="{{site.pinterest_url}}"> <i class="fa fa-pinterest"></i></a>
               {% endif %}

               {% if site.youtube_url %}
               <a class="youtube" href="{{site.youtube_url}}"> <i class="fa fa-youtube"></i></a>
               {% endif %}

               <!--{% if site.tel_num %}
               <p class="top-content"> {{site.tel_num}}</p>
               {% endif %}-->
               <a class="login-ih" href="{{site.sistema_educacion}}" ><i class="fa fa-user"></i></a>
            </div>
         </div>
      </div>
   </div>
   <!-- Modal -->
   <div class="top-login-modal modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="tmx-loginform"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable" role="document">
         <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Search Your Content</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
            <div class="modal-body">
               <div class="login-form-modal">
                  <form class="themeix-search-form" action="#">
                     <div class="input-group">
                        <input type="search" id="search-input" class="form-control" placeholder="Type Your Courses Name "
                           aria-label="Search" required="">

                     </div>
                  </form>
                  <div id="results-container"></div>

               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="themeix-header-navigation bg-color">
      <div class="container">
         <div class="d-flex justify-content-between">
            <div class="themeix-logo">
               <a class="themeix-brand" href="{{site.url}}"><img src="{{ site.baseurl }}{{site.logo_url}}" alt="{{site.title}}" /></a>
            </div>
            <nav class="themeix-menu">
               {% include navigation.html %}
            </nav>

         </div>
      </div>
   </div>
  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window,document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '3269032720006752');
    fbq('track', 'PageView');
  </script>
  <noscript>
    <img height="1" width="1"
         src="https://www.facebook.com/tr?id=3269032720006752&ev=PageView&noscript=1"/>
  </noscript>
  <!-- End Facebook Pixel Code -->
</header>
<!-- End Themeix Header -->