<div class="testimonial-instructor wow fadeIn" data-wow-duration="2s">
    <div class="testimonial-info">
        <div class="testimonial-info-thumb"><img src="{{instructor.image}}" alt="testimonial author img" /></div>
        <div class="testimonial-info-content">
            <a href="{{insturtor.url}}">
                <h5>{{instructor.name}}</h5>
            </a>
            <p>{{instructor.designation}}</p>
        </div>
    </div>
    <div class="testimonial-hover">
        <div class="testimonial-hover-wrap">
            <a href="{{instructor.url}}">
                <h5>{{instructor.name}}</h5>
            </a>
            <p>{{instructor.designation}}</p>
        </div>
    </div>
</div>