<!-- Start Themeix Banner Wells -->
<section class="themeix-banner-wells inner-spacing">
    <div class="container">
       <div class="row">
          <div class="col">
             <div class="themeix-wells-container">
                <h2>{{page.title}}</h2>
                <nav>
                   <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="{{site.url}}">Home</a></li>
                      <li class="breadcrumb-item active">{{page.title}}</li>
                   </ol>
                </nav>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- End Themeix Slider -->