<h4 class="sidebar-title">Noticias recientes</h4>
<div class="sidebar-recent sidebar-widget">
    {% for post in site.posts limit:5 %}
    {% assign author = site.authors | where: 'author_id', post.author_id | first %}
    <div class="recent-container">
        {% if post.post_image %}
        <div class="recent-image">
            <img src="{{ site.baseurl }}{{post.post_image}}" alt="{{post.title}}">
        </div>
        {% endif %}
        <div class="recent-content">
            <a href="{{ site.baseurl }}{{post.url}}">{{post.title}}</a>
        </div>
    </div>
    {% endfor %}

</div>
