
<!-- Start Themeix Subscribe-->
<section class="themeix-subscribe d-flex align-items-stretch themeix">
   <div class="subscribe-column section-spacing bg-color2 themeix">
      <div class="themeix-subscribe-wrapper">
         <h2>Subscribe For Letest News</h2>
         <form class="themeix-subscribe-form wow fadeIn" data-wow-duration="2s"action="{{site.mailclimp_url}}" method="post"
         id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate=""
         style="visibility: visible; animation-name: bounceInUp;">
            <div class="input-group">
               <input type="text" name="EMAIL" class="required email form-control subscribe-email" id="mce-EMAIL" placeholder="Email Address" aria-label="Search" required="">
               <span class="input-group-btn">
                  <button class="btn btn-secondary" type="submit"><i class="fa fa-paper-plane"></i></button>
               </span>
            </div>
         </form>
      </div>r
      <div class="subscribe-triangle"></div>
   </div>
   <div class="subscribe-column themeix-subscribe-thumb bg-color themeix">
   </div>
</section>
<!-- End Themeix Subscribe -->