---
layout: default
---
    {% include page-title.com %}
      <!-- Start Themeix  Single-->
      <section class="themeix-Single section-spacing bg-color">
            <div class="container">
               <div class="row">
                  <div class="col-lg-8 col-md-7">
                     <div class="themeix-single">
                        {% if page.post_image %}
                        <div class="themeix-single-thumb"><img src="{{page.post_image}}" alt="{{page.title}}" /></div>
                        {% endif %}

						<div class="entry-content">
							{{content}}
						</div>
                        
                        {% if page.comments == true %}
                            <div class="themeix-comments inner-bottom-spacing">
                            {% include disqus-comment.html %}
                            </div>
                        {% endif %}
                        
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- End Themeix Single -->

     