---
layout: default
---
{% assign author = site.authors | where: 'author_id', page.author_id | first %}	

      {% include page-title.html %}
      <!-- Start Themeix  Single-->
      <section class="themeix-Single section-spacing bg-color">
            <div class="container">
               <div class="row">
                  <div class="col-lg-8 col-md-7">
                     <div class="themeix-single">
                        {% if page.post_image %}
                        <div class="themeix-single-thumb"><img src="{{page.post_image}}" alt="{{page.title}}" /></div>
                        {% endif %}
							<div class="entry-content">
								{{content}}
							</div>
                        <div class="themeix-single-page wow fadeIn"  data-wow-duration="2s">
                           <ul class="themeix-single-tags float-left list-inline">
                              <li class="list-inline-item">Tags - </li>
                              {% for tag in page.tags %}
                                    <li class="list-inline-item"><a href="/tag/{{ tag | slugize }}/">{{tag}}</a></li>
                                {% endfor %}
                           </ul>
                           
                           {% include social-share.html %}
                        </div>

                        <div class="themeix-single-admin wow fadeIn"  data-wow-duration="2s">
                            {% if author.image %}
                           <img src="{{author.image}}" alt="{{author.name}}" />
                           <a href="{{author.url}}">
                               {% endif %}
                              <h5>{{author.name}} </h5>
                           </a>
                           <span>{{author.location}}</span>
                           {% if author.bio %}
                                <p>{{author.bio}}</p>
                           {% endif %}
                        </div>
                        {% if page.comments == true %}
                            <div class="themeix-comments inner-bottom-spacing">
                            {% include disqus-comment.html %}
                            </div>
                        {% endif %}
                        
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-5">
                     <div class="themeix-sidebar-right">
                        {% include sidebar.html %}
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- End Themeix Single -->

     